<a href="https://colab.research.google.com/github/hazrakeruboO/DS-Colabs/blob/main/Copy_of_Python_Programming_Bayes_Theorem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Programming: Bayes Theorem

The Bayes Theorem is applicable in machine learning where we get to use a Bayes classifier inorder to make a prediction. In this session, we will learn how to apply this classifer to a few machine learning problems even though later during Core we will spent time exhaustively on working on such problems. While working, we should note that the bayes classifier assumes that the presence of a particular feature in a class is unrelated to the presence of any other feature. 

For example, a fruit may be considered to be an apple if it is red, round, and about 3 inches in diameter. Even if these features depend on each other or upon the existence of the other features, all of these properties independently contribute to the probability that this fruit is an apple and that is why it is known as ‘Naive’.

Such classifiers, Naive Bayes classifiers, are a collection of classification algorithms based on Bayes’ Theorem. It is not a single algorithm but a family of algorithms where all of them share a common principle, i.e. every pair of features being classified is independent of each other.

## Example

In [ ]:
# Example 1
import pandas as pd
# ---
# Let's see an overview on how this classifier works, which suitable applications it has, 
# and how to use it in just a few lines of Python and the Scikit-Learn library.
# ---
# Question: Build a very simple SPAM detector for SMS messages given the following dataset; 
# ---
# Dataset source = https://archive.ics.uci.edu/ml/datasets/sms+spam+collection

df = pd.read_csv('/content/SMSSpamCollection.txt',error_bad_lines=False)
df.head(5)

b'Skipping line 12: expected 2 fields, saw 4\nSkipping line 42: expected 2 fields, saw 3\nSkipping line 57: expected 2 fields, saw 4\nSkipping line 66: expected 2 fields, saw 3\nSkipping line 68: expected 2 fields, saw 3\nSkipping line 86: expected 2 fields, saw 3\nSkipping line 90: expected 2 fields, saw 3\nSkipping line 96: expected 2 fields, saw 3\nSkipping line 116: expected 2 fields, saw 4\nSkipping line 128: expected 2 fields, saw 4\nSkipping line 148: expected 2 fields, saw 3\nSkipping line 156: expected 2 fields, saw 11\nSkipping line 175: expected 2 fields, saw 3\nSkipping line 201: expected 2 fields, saw 3\nSkipping line 228: expected 2 fields, saw 3\nSkipping line 240: expected 2 fields, saw 3\nSkipping line 244: expected 2 fields, saw 3\nSkipping line 253: expected 2 fields, saw 3\nSkipping line 283: expected 2 fields, saw 4\nSkipping line 290: expected 2 fields, saw 5\nSkipping line 291: expected 2 fields, saw 3\nSkipping line 303: expected 2 fields, saw 3\nSkipping line 310: expected 2 fields, saw 6\nSkipping line 313: expected 2 fields, saw 3\nSkipping line 318: expected 2 fields, saw 3\nSkipping line 329: expected 2 fields, saw 3\nSkipping line 354: expected 2 fields, saw 4\nSkipping line 357: expected 2 fields, saw 3\nSkipping line 360: expected 2 fields, saw 4\nSkipping line 400: expected 2 fields, saw 6\nSkipping line 414: expected 2 fields, saw 3\nSkipping line 420: expected 2 fields, saw 3\nSkipping line 447: expected 2 fields, saw 4\nSkipping line 448: expected 2 fields, saw 6\nSkipping line 460: expected 2 fields, saw 4\nSkipping line 483: expected 2 fields, saw 3\nSkipping line 490: expected 2 fields, saw 3\nSkipping line 493: expected 2 fields, saw 4\nSkipping line 520: expected 2 fields, saw 3\nSkipping line 537: expected 2 fields, saw 3\nSkipping line 552: expected 2 fields, saw 4\nSkipping line 561: expected 2 fields, saw 3\nSkipping line 569: expected 2 fields, saw 3\nSkipping line 577: expected 2 fields, saw 4\nSkipping line 625: expected 2 fields, saw 3\nSkipping line 636: expected 2 fields, saw 3\nSkipping line 643: expected 2 fields, saw 3\nSkipping line 651: expected 2 fields, saw 5\nSkipping line 662: expected 2 fields, saw 5\nSkipping line 693: expected 2 fields, saw 4\nSkipping line 705: expected 2 fields, saw 3\nSkipping line 726: expected 2 fields, saw 4\nSkipping line 759: expected 2 fields, saw 4\nSkipping line 768: expected 2 fields, saw 4\nSkipping line 790: expected 2 fields, saw 4\nSkipping line 802: expected 2 fields, saw 3\nSkipping line 816: expected 2 fields, saw 3\nSkipping line 824: expected 2 fields, saw 3\nSkipping line 834: expected 2 fields, saw 4\nSkipping line 850: expected 2 fields, saw 3\nSkipping line 864: expected 2 fields, saw 3\nSkipping line 877: expected 2 fields, saw 7\nSkipping line 883: expected 2 fields, saw 5\nSkipping line 900: expected 2 fields, saw 3\nSkipping line 901: expected 2 fields, saw 3\nSkipping line 908: expected 2 fields, saw 4\nSkipping line 919: expected 2 fields, saw 3\nSkipping line 938: expected 2 fields, saw 4\nSkipping line 946: expected 2 fields, saw 3\nSkipping line 958: expected 2 fields, saw 5\nSkipping line 984: expected 2 fields, saw 4\nSkipping line 989: expected 2 fields, saw 3\nSkipping line 990: expected 2 fields, saw 7\nSkipping line 1010: expected 2 fields, saw 5\nSkipping line 1011: expected 2 fields, saw 3\nSkipping line 1022: expected 2 fields, saw 3\nSkipping line 1039: expected 2 fields, saw 4\nSkipping line 1040: expected 2 fields, saw 5\nSkipping line 1087: expected 2 fields, saw 3\nSkipping line 1103: expected 2 fields, saw 3\nSkipping line 1119: expected 2 fields, saw 3\nSkipping line 1121: expected 2 fields, saw 3\nSkipping line 1165: expected 2 fields, saw 3\nSkipping line 1178: expected 2 fields, saw 3\nSkipping line 1208: expected 2 fields, saw 4\nSkipping line 1215: expected 2 fields, saw 4\nSkipping line 1217: expected 2 fields, saw 3\nSkipping line 1250: expected 2 fields, saw 3\nSkipping line 1251: expected 2 fields, saw 3\nSkipping line 1309: expected 2 fields, saw 3\nSkipping line 1317: expected 2 fields, saw 5\nSkipping line 1328: expected 2 fields, saw 3\nSkipping line 1369: expected 2 fields, saw 3\nSkipping line 1375: expected 2 fields, saw 4\nSkipping line 1386: expected 2 fields, saw 3\nSkipping line 1391: expected 2 fields, saw 3\nSkipping line 1392: expected 2 fields, saw 3\nSkipping line 1394: expected 2 fields, saw 3\nSkipping line 1414: expected 2 fields, saw 3\nSkipping line 1430: expected 2 fields, saw 3\nSkipping line 1476: expected 2 fields, saw 6\nSkipping line 1509: expected 2 fields, saw 3\nSkipping line 1514: expected 2 fields, saw 4\nSkipping line 1528: expected 2 fields, saw 3\nSkipping line 1545: expected 2 fields, saw 4\nSkipping line 1547: expected 2 fields, saw 3\nSkipping line 1584: expected 2 fields, saw 3\nSkipping line 1585: expected 2 fields, saw 3\nSkipping line 1589: expected 2 fields, saw 4\nSkipping line 1606: expected 2 fields, saw 4\nSkipping line 1618: expected 2 fields, saw 3\nSkipping line 1622: expected 2 fields, saw 4\nSkipping line 1625: expected 2 fields, saw 3\nSkipping line 1629: expected 2 fields, saw 3\nSkipping line 1636: expected 2 fields, saw 6\nSkipping line 1638: expected 2 fields, saw 3\nSkipping line 1639: expected 2 fields, saw 3\nSkipping line 1642: expected 2 fields, saw 3\nSkipping line 1643: expected 2 fields, saw 3\nSkipping line 1678: expected 2 fields, saw 3\nSkipping line 1720: expected 2 fields, saw 3\nSkipping line 1725: expected 2 fields, saw 9\nSkipping line 1759: expected 2 fields, saw 4\nSkipping line 1763: expected 2 fields, saw 3\nSkipping line 1786: expected 2 fields, saw 4\nSkipping line 1828: expected 2 fields, saw 3\nSkipping line 1840: expected 2 fields, saw 4\nSkipping line 1858: expected 2 fields, saw 6\nSkipping line 1864: expected 2 fields, saw 14\nSkipping line 1896: expected 2 fields, saw 4\nSkipping line 1943: expected 2 fields, saw 7\nSkipping line 1960: expected 2 fields, saw 3\nSkipping line 2000: expected 2 fields, saw 3\nSkipping line 2011: expected 2 fields, saw 6\nSkipping line 2013: expected 2 fields, saw 3\nSkipping line 2024: expected 2 fields, saw 3\nSkipping line 2054: expected 2 fields, saw 3\nSkipping line 2065: expected 2 fields, saw 3\nSkipping line 2071: expected 2 fields, saw 6\nSkipping line 2091: expected 2 fields, saw 6\nSkipping line 2094: expected 2 fields, saw 3\nSkipping line 2095: expected 2 fields, saw 3\nSkipping line 2115: expected 2 fields, saw 3\nSkipping line 2116: expected 2 fields, saw 5\nSkipping line 2120: expected 2 fields, saw 3\nSkipping line 2135: expected 2 fields, saw 4\nSkipping line 2147: expected 2 fields, saw 5\nSkipping line 2159: expected 2 fields, saw 7\nSkipping line 2171: expected 2 fields, saw 7\nSkipping line 2172: expected 2 fields, saw 3\nSkipping line 2185: expected 2 fields, saw 4\nSkipping line 2192: expected 2 fields, saw 4\nSkipping line 2207: expected 2 fields, saw 3\nSkipping line 2208: expected 2 fields, saw 3\nSkipping line 2210: expected 2 fields, saw 7\nSkipping line 2226: expected 2 fields, saw 3\nSkipping line 2257: expected 2 fields, saw 4\nSkipping line 2301: expected 2 fields, saw 4\nSkipping line 2313: expected 2 fields, saw 3\nSkipping line 2357: expected 2 fields, saw 3\nSkipping line 2371: expected 2 fields, saw 4\nSkipping line 2409: expected 2 fields, saw 7\nSkipping line 2420: expected 2 fields, saw 4\nSkipping line 2464: expected 2 fields, saw 3\nSkipping line 2465: expected 2 fields, saw 3\nSkipping line 2474: expected 2 fields, saw 3\nSkipping line 2506: expected 2 fields, saw 3\nSkipping line 2514: expected 2 fields, saw 4\nSkipping line 2527: expected 2 fields, saw 6\nSkipping line 2537: expected 2 fields, saw 3\nSkipping line 2566: expected 2 fields, saw 5\nSkipping line 2575: expected 2 fields, saw 4\nSkipping line 2596: expected 2 fields, saw 4\nSkipping line 2599: expected 2 fields, saw 4\nSkipping line 2631: expected 2 fields, saw 3\nSkipping line 2633: expected 2 fields, saw 3\nSkipping line 2648: expected 2 fields, saw 3\nSkipping line 2649: expected 2 fields, saw 3\nSkipping line 2653: expected 2 fields, saw 3\nSkipping line 2668: expected 2 fields, saw 5\nSkipping line 2675: expected 2 fields, saw 3\nSkipping line 2682: expected 2 fields, saw 7\nSkipping line 2703: expected 2 fields, saw 3\nSkipping line 2713: expected 2 fields, saw 3\nSkipping line 2718: expected 2 fields, saw 3\nSkipping line 2731: expected 2 fields, saw 3\nSkipping line 2746: expected 2 fields, saw 3\nSkipping line 2765: expected 2 fields, saw 6\nSkipping line 2793: expected 2 fields, saw 3\nSkipping line 2796: expected 2 fields, saw 4\nSkipping line 2802: expected 2 fields, saw 3\nSkipping line 2814: expected 2 fields, saw 6\nSkipping line 2815: expected 2 fields, saw 3\nSkipping line 2819: expected 2 fields, saw 4\nSkipping line 2827: expected 2 fields, saw 3\nSkipping line 2835: expected 2 fields, saw 3\nSkipping line 2837: expected 2 fields, saw 3\nSkipping line 2850: expected 2 fields, saw 7\nSkipping line 2858: expected 2 fields, saw 8\nSkipping line 2865: expected 2 fields, saw 9\nSkipping line 2871: expected 2 fields, saw 3\nSkipping line 2877: expected 2 fields, saw 3\nSkipping line 2882: expected 2 fields, saw 3\nSkipping line 2901: expected 2 fields, saw 3\nSkipping line 2944: expected 2 fields, saw 3\nSkipping line 2947: expected 2 fields, saw 3\nSkipping line 2992: expected 2 fields, saw 5\nSkipping line 3006: expected 2 fields, saw 3\nSkipping line 3018: expected 2 fields, saw 9\nSkipping line 3047: expected 2 fields, saw 3\nSkipping line 3049: expected 2 fields, saw 3\nSkipping line 3065: expected 2 fields, saw 3\nSkipping line 3090: expected 2 fields, saw 4\nSkipping line 3148: expected 2 fields, saw 3\nSkipping line 3166: expected 2 fields, saw 4\nSkipping line 3169: expected 2 fields, saw 3\nSkipping line 3175: expected 2 fields, saw 3\nSkipping line 3184: expected 2 fields, saw 3\nSkipping line 3198: expected 2 fields, saw 3\nSkipping line 3207: expected 2 fields, saw 3\nSkipping line 3212: expected 2 fields, saw 4\nSkipping line 3224: expected 2 fields, saw 3\nSkipping line 3228: expected 2 fields, saw 5\nSkipping line 3230: expected 2 fields, saw 4\nSkipping line 3247: expected 2 fields, saw 3\nSkipping line 3248: expected 2 fields, saw 3\nSkipping line 3259: expected 2 fields, saw 3\nSkipping line 3261: expected 2 fields, saw 3\nSkipping line 3281: expected 2 fields, saw 7\nSkipping line 3315: expected 2 fields, saw 4\nSkipping line 3325: expected 2 fields, saw 4\nSkipping line 3337: expected 2 fields, saw 3\nSkipping line 3345: expected 2 fields, saw 3\nSkipping line 3402: expected 2 fields, saw 3\nSkipping line 3422: expected 2 fields, saw 3\nSkipping line 3435: expected 2 fields, saw 3\nSkipping line 3441: expected 2 fields, saw 4\nSkipping line 3448: expected 2 fields, saw 3\nSkipping line 3468: expected 2 fields, saw 3\nSkipping line 3485: expected 2 fields, saw 3\nSkipping line 3497: expected 2 fields, saw 4\nSkipping line 3509: expected 2 fields, saw 3\nSkipping line 3510: expected 2 fields, saw 4\nSkipping line 3519: expected 2 fields, saw 3\nSkipping line 3528: expected 2 fields, saw 4\nSkipping line 3531: expected 2 fields, saw 4\nSkipping line 3534: expected 2 fields, saw 3\nSkipping line 3539: expected 2 fields, saw 3\nSkipping line 3574: expected 2 fields, saw 3\nSkipping line 3581: expected 2 fields, saw 3\nSkipping line 3614: expected 2 fields, saw 3\nSkipping line 3637: expected 2 fields, saw 3\nSkipping line 3645: expected 2 fields, saw 3\nSkipping line 3649: expected 2 fields, saw 3\nSkipping line 3674: expected 2 fields, saw 3\nSkipping line 3684: expected 2 fields, saw 4\nSkipping line 3693: expected 2 fields, saw 3\nSkipping line 3726: expected 2 fields, saw 3\nSkipping line 3750: expected 2 fields, saw 5\nSkipping line 3761: expected 2 fields, saw 3\nSkipping line 3773: expected 2 fields, saw 4\nSkipping line 3779: expected 2 fields, saw 4\nSkipping line 3780: expected 2 fields, saw 3\nSkipping line 3792: expected 2 fields, saw 3\nSkipping line 3793: expected 2 fields, saw 4\nSkipping line 3801: expected 2 fields, saw 3\nSkipping line 3806: expected 2 fields, saw 4\nSkipping line 3821: expected 2 fields, saw 3\nSkipping line 3822: expected 2 fields, saw 3\nSkipping line 3854: expected 2 fields, saw 3\nSkipping line 3924: expected 2 fields, saw 4\nSkipping line 3949: expected 2 fields, saw 3\nSkipping line 3972: expected 2 fields, saw 3\nSkipping line 3988: expected 2 fields, saw 6\nSkipping line 4007: expected 2 fields, saw 3\nSkipping line 4010: expected 2 fields, saw 3\nSkipping line 4012: expected 2 fields, saw 4\nSkipping line 4016: expected 2 fields, saw 3\nSkipping line 4053: expected 2 fields, saw 3\nSkipping line 4058: expected 2 fields, saw 3\nSkipping line 4062: expected 2 fields, saw 3\nSkipping line 4077: expected 2 fields, saw 4\nSkipping line 4085: expected 2 fields, saw 3\nSkipping line 4091: expected 2 fields, saw 3\nSkipping line 4126: expected 2 fields, saw 3\nSkipping line 4140: expected 2 fields, saw 4\nSkipping line 4145: expected 2 fields, saw 4\nSkipping line 4155: expected 2 fields, saw 7\nSkipping line 4158: expected 2 fields, saw 3\nSkipping line 4167: expected 2 fields, saw 3\nSkipping line 4172: expected 2 fields, saw 4\nSkipping line 4182: expected 2 fields, saw 3\nSkipping line 4193: expected 2 fields, saw 6\nSkipping line 4198: expected 2 fields, saw 3\nSkipping line 4201: expected 2 fields, saw 4\nSkipping line 4238: expected 2 fields, saw 3\nSkipping line 4256: expected 2 fields, saw 3\nSkipping line 4291: expected 2 fields, saw 4\nSkipping line 4292: expected 2 fields, saw 3\nSkipping line 4300: expected 2 fields, saw 7\nSkipping line 4306: expected 2 fields, saw 3\nSkipping line 4330: expected 2 fields, saw 4\nSkipping line 4365: expected 2 fields, saw 3\nSkipping line 4374: expected 2 fields, saw 5\nSkipping line 4388: expected 2 fields, saw 3\nSkipping line 4397: expected 2 fields, saw 3\nSkipping line 4409: expected 2 fields, saw 3\nSkipping line 4438: expected 2 fields, saw 3\nSkipping line 4451: expected 2 fields, saw 3\nSkipping line 4457: expected 2 fields, saw 3\nSkipping line 4464: expected 2 fields, saw 3\nSkipping line 4469: expected 2 fields, saw 4\nSkipping line 4493: expected 2 fields, saw 6\nSkipping line 4498: expected 2 fields, saw 3\nSkipping line 4501: expected 2 fields, saw 3\nSkipping line 4518: expected 2 fields, saw 4\nSkipping line 4519: expected 2 fields, saw 6\nSkipping line 4528: expected 2 fields, saw 3\nSkipping line 4541: expected 2 fields, saw 3\nSkipping line 4542: expected 2 fields, saw 4\nSkipping line 4579: expected 2 fields, saw 3\nSkipping line 4588: expected 2 fields, saw 4\nSkipping line 4608: expected 2 fields, saw 3\nSkipping line 4671: expected 2 fields, saw 6\nSkipping line 4677: expected 2 fields, saw 3\nSkipping line 4686: expected 2 fields, saw 5\nSkipping line 4711: expected 2 fields, saw 3\nSkipping line 4721: expected 2 fields, saw 3\nSkipping line 4759: expected 2 fields, saw 3\nSkipping line 4806: expected 2 fields, saw 3\nSkipping line 4861: expected 2 fields, saw 3\nSkipping line 4885: expected 2 fields, saw 3\nSkipping line 4891: expected 2 fields, saw 8\nSkipping line 4906: expected 2 fields, saw 9\nSkipping line 4944: expected 2 fields, saw 3\nSkipping line 4950: expected 2 fields, saw 3\nSkipping line 4963: expected 2 fields, saw 5\nSkipping line 5051: expected 2 fields, saw 5\nSkipping line 5054: expected 2 fields, saw 3\nSkipping line 5079: expected 2 fields, saw 3\nSkipping line 5084: expected 2 fields, saw 3\nSkipping line 5097: expected 2 fields, saw 3\nSkipping line 5101: expected 2 fields, saw 3\nSkipping line 5102: expected 2 fields, saw 3\nSkipping line 5107: expected 2 fields, saw 4\nSkipping line 5118: expected 2 fields, saw 3\nSkipping line 5132: expected 2 fields, saw 5\nSkipping line 5136: expected 2 fields, saw 3\nSkipping line 5140: expected 2 fields, saw 7\nSkipping line 5167: expected 2 fields, saw 4\nSkipping line 5182: expected 2 fields, saw 4\nSkipping line 5204: expected 2 fields, saw 7\nSkipping line 5210: expected 2 fields, saw 3\nSkipping line 5254: expected 2 fields, saw 4\nSkipping line 5267: expected 2 fields, saw 3\nSkipping line 5275: expected 2 fields, saw 3\nSkipping line 5321: expected 2 fields, saw 3\nSkipping line 5337: expected 2 fields, saw 5\nSkipping line 5345: expected 2 fields, saw 3\nSkipping line 5349: expected 2 fields, saw 3\nSkipping line 5363: expected 2 fields, saw 4\nSkipping line 5432: expected 2 fields, saw 3\nSkipping line 5487: expected 2 fields, saw 3\nSkipping line 5497: expected 2 fields, saw 4\nSkipping line 5498: expected 2 fields, saw 3\nSkipping line 5500: expected 2 fields, saw 3\nSkipping line 5519: expected 2 fields, saw 5\nSkipping line 5550: expected 2 fields, saw 3\nSkipping line 5552: expected 2 fields, saw 6\n'

                          ham\tGo until jurong point  crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
0                 ham\tOk lar... Joking wif u oni...                                                NaN
1  spam\tFree entry in 2 a wkly comp to win FA Cu...                                                NaN
2  ham\tU dun say so early hor... U c already the...                                                NaN
3              ham\tNah I don't think he goes to usf                        he lives around here though
4  spam\tFreeMsg Hey there darling it's been 3 we...                                       £1.50 to rcv

In [ ]:
# Importing our library
# ---
#
import pandas as pd

import numpy as np

In [ ]:
# Loading our uploaded Data
# ---
# We define a separator (in this case, a tab) and rename the columns accordingly
# 
df = pd.read_csv('/content/SMSSpamCollection.txt', sep='\t', header=None, names=['label', 'message'], encoding='latin-1')
df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
# Pre-processing
# ---
# 1. Converting the labels from strings to binary values for our classifier
# 
df['label'] = df.label.map({'ham': 0, 'spam': 1})
df.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [ ]:
# Pre-processing
# ---
# 2. Converting all characters in the message to lower case:
# 
df['message'] = df.message.map(lambda x: x.lower())
df.head()

   label                                            message
0      0  go until jurong point, crazy.. available only ...
1      0                      ok lar... joking wif u oni...
2      1  free entry in 2 a wkly comp to win fa cup fina...
3      0  u dun say so early hor... u c already then say...
4      0  nah i don't think he goes to usf, he lives aro...

In [ ]:
# Pre-processing
# ---
# 3. Remove any punctuation:
# 
df['message'] = df.message.str.replace('[^\w\s]', '')
df.head()

   label                                            message
0      0  go until jurong point crazy available only in ...
1      0                            ok lar joking wif u oni
2      1  free entry in 2 a wkly comp to win fa cup fina...
3      0        u dun say so early hor u c already then say
4      0  nah i dont think he goes to usf he lives aroun...

In [ ]:
# Pre-processing
# ---
# 4. tokenize the messages into into single words using nltk. 
# First, we have to import and download the tokenizer from the console:
# 
import nltk
nltk.download("popular")

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [ ]:
# Pre-processing
# ---
# 5. Applying the tokenization. 
# What is tokenization (http://bit.ly/WhatisTokenization)
# 
df['message'] = df['message'].apply(nltk.word_tokenize)
df.head()

   label                                            message
0      0  [go, until, jurong, point, crazy, available, o...
1      0                     [ok, lar, joking, wif, u, oni]
2      1  [free, entry, in, 2, a, wkly, comp, to, win, f...
3      0  [u, dun, say, so, early, hor, u, c, already, t...
4      0  [nah, i, dont, think, he, goes, to, usf, he, l...

In [ ]:
# Pre-processing
# ---
# 6. We then perform some word stemming. 
# The idea of stemming is to normalize our text for all variations of words carry the same meaning, 
# regardless of the tense. One of the most popular stemming algorithms is the Porter Stemmer:
# 
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()
 
df['message'] = df['message'].apply(lambda x: [stemmer.stem(y) for y in x])
df.head()

   label                                            message
0      0  [go, until, jurong, point, crazi, avail, onli,...
1      0                       [ok, lar, joke, wif, u, oni]
2      1  [free, entri, in, 2, a, wkli, comp, to, win, f...
3      0  [u, dun, say, so, earli, hor, u, c, alreadi, t...
4      0  [nah, i, dont, think, he, goe, to, usf, he, li...

In [ ]:
# Pre-processing
# ---
# 7. We will transform the data into occurrences, 
# which will be the features that we will feed into our model:
#
from sklearn.feature_extraction.text import CountVectorizer

# This converts the list of words into space-separated strings
df['message'] = df['message'].apply(lambda x: ' '.join(x))

count_vect = CountVectorizer()
counts = count_vect.fit_transform(df['message'])
df.head()

   label                                            message
0      0  go until jurong point crazi avail onli in bugi...
1      0                              ok lar joke wif u oni
2      1  free entri in 2 a wkli comp to win fa cup fina...
3      0        u dun say so earli hor u c alreadi then say
4      0  nah i dont think he goe to usf he live around ...

In [ ]:
# Pre-processing
# ---
# 8. We could leave it as the simple word-count per message, 
# but it is better to use Term Frequency Inverse Document Frequency, more known as tf-idf:
#
from sklearn.feature_extraction.text import TfidfTransformer

transformer = TfidfTransformer().fit(counts)

counts = transformer.transform(counts)
df.head()

   label                                            message
0      0  go until jurong point crazi avail onli in bugi...
1      0                              ok lar joke wif u oni
2      1  free entri in 2 a wkli comp to win fa cup fina...
3      0        u dun say so earli hor u c alreadi then say
4      0  nah i dont think he goe to usf he live around ...

In [ ]:
# Training the Model
# ---
# Now that we have performed feature extraction from our data, 
# it is time to build our model. We will start by splitting our data into training and test sets:
#
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(counts, df['label'], test_size=0.1, random_state=69)

In [ ]:
# Training the Model
# ---
# Then, all that we have to do is initialize the Naive Bayes Classifier and fit the data. 
# For text classification problems, the Multinomial Naive Bayes Classifier is well-suited:
# 
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB().fit(X_train, y_train)

In [ ]:
# Evaluating the Model
# ---
# Once we have put together our classifier, we can evaluate its performance in the testing set:
#
predicted = model.predict(X_test)

print(np.mean(predicted == y_test))

# Our simple Naive Bayes Classifier has 94.8% accuracy with this specific test set!

0.9480286738351255

## <font color="green">Challenges</font>

In [ ]:
# Example 1
# ---
# In this challenge, we have been tasked with creating a classifier, the training set,
# then training the classifier using the training set and making a prediction.
# ---
# The training set (X) consits of length, weight and shoe size. 
# Y contains the associated labels (male or female).
# 

X1= [[121, 80, 44], [180, 70, 43], [166, 60, 38], [153, 54, 37], [166, 65, 40], [190, 90, 47], [175, 64, 39],
     [174, 71, 40], [159, 52, 37], [171, 76, 42], [183, 85, 43]]

Y = ['male', 'male', 'female', 'female', 'male', 'male', 'female', 'female', 'female', 'male', 'male']

# Training the classifier:
#
df_shoe=pd.DataFrame(X1,columns=['Length','Weight','Shoe_size'])
df_shoe


# Making the prediciton:
# Using the GaussianNB classifier (i.e. from sklearn.naive_bayes import GaussianNB) 
#

    Length  Weight  Shoe_size
0      121      80         44
1      180      70         43
2      166      60         38
3      153      54         37
4      166      65         40
5      190      90         47
6      175      64         39
7      174      71         40
8      159      52         37
9      171      76         42
10     183      85         43

In [ ]:
# converting to series
Y=pd.Series(Y)
Y

In [ ]:
# Using the GaussianNB classifier (i.e.
from sklearn.naive_bayes import GaussianNB
clc=GaussianNB()

In [ ]:
#train classifier
clc.fit(df_shoe,Y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
#Prediction
prediction=clc.predict(X)
prediction

array(['male', 'male', 'female', 'female', 'female', 'male', 'female',
       'female', 'female', 'male', 'male'], dtype='<U6')

In [ ]:
gender=np.array(['male', 'male', 'female', 'female', 'male', 'male', 'female', 'female', 'female', 'male', 'male'])

In [ ]:
#checking prediction if same with initial label

assert prediction.all() == gender

TypeError: ignored

In [ ]:
Y.values

array(['male', 'male', 'female', 'female', 'male', 'male', 'female',
       'female', 'female', 'male', 'male'], dtype=object)

In [ ]:
type(prediction)

numpy.ndarray

In [ ]:
type(gender)

numpy.ndarray

In [ ]:
prediction.shape

(11,)

In [ ]:
gender.shape

(11,)

In [ ]:
list(prediction)

['male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male']

In [ ]:
list(gender)

['male',
 'male',
 'female',
 'female',
 'male',
 'male',
 'female',
 'female',
 'female',
 'male',
 'male']

In [ ]:
assert list (prediction) == list (gender)

AssertionError: ignored

In [ ]:
=GaussianNB()

In [ ]:
# Example 2
# ---
# Question: Use the titanic disaster dataset to create a Gaussian Naive Bayes classifier model 
# (i.e. from sklearn.naive_bayes import GaussianNB) that will make a prediction of survival 
# using passenger ticket fare information. 
# ---
# Dataset url: http://bit.ly/TitanicDataset 
# 
train=pd.read_csv('/content/train.csv')
train.head(5)

test=pd.read_csv('/content/test.csv')
test.head(5)

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
X = train.Fare

In [ ]:
Y=train.Survived

In [ ]:
X.isnull().sum()

0

In [ ]:
X.dtypes

dtype('float64')

In [ ]:
clc2=GaussianNB()

In [ ]:
#fitting models
clc2.fit(X.values.reshape(-1, 1),Y.values)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
X.shape

(891,)

In [ ]:
Y.shape

(891,)

In [ ]:
#Prediction
prediction=clc.predict(X)
prediction

In [ ]:
X_test=test.Fare

In [ ]:
X_test.isnull().sum()

0

In [ ]:
meantest=X_test.mean()

In [ ]:
X_test.fillna(meantest,inplace=True)

In [ ]:
predicted=clc2.predict(X_test.values.reshape(-1, 1))

In [ ]:
predicted

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0])

In [ ]:
# Example 3
# ---
# Question: Create a GaussianNB classifier (i.e. from sklearn.naive_bayes import GaussianNB) 
# to identify the different species of iris flowers.
# ---
# Dataset url = http://bit.ly/MSIrisDatasetNB
# 
OUR CODE GOES HERE