<a href="https://colab.research.google.com/github/hazrakeruboO/DS-Colabs/blob/main/Copy_of_Copy_of_Python_Programming_Stratified_Sampling_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Programming: Stratified Sampling Exercise

## Example

We are going to use the example we looked at in the overview. Our dataset is comprised of different heights of Moringa School students. It has 10,000 entries whereby 60% are female and 40% are Male. We are going to perform stratified sampling on this population so that we can get a sample of 1000 students which has the same proportion as the population.

**Import relevant Libraries**

In [ ]:
import pandas as pd

**Load the Dataset**

Here is the dataset we are going to use in this example.[Dataset Download](https://drive.google.com/file/d/1ODcSRSs_isRKCAShFwnMrXdcphed9kYn/view?usp=sharing)

In [ ]:
# Load the data into a panda dataframe
data= pd.read_csv('Gender_heights.csv')

# Check out the data
data

     gender         ht
0         F  55.398043
1         F  64.975468
2         F  70.591667
3         F  63.574479
4         F  62.535298
...     ...        ...
9995      M  91.485240
9996      M  94.842755
9997      M  98.096696
9998      M  91.478957
9999      M  88.849197

[10000 rows x 2 columns]

In [ ]:
# Now we will confirm how many Female students and Male students are there in our dataset.
# To achieve this we will use pandas .value_count() method. This method outputs the number of times a value appears in a column.
data['gender'].value_counts()

F    6000
M    4000
Name: gender, dtype: int64

Now that we have confirmed that our popluation follows the correct proportion, we are going to first create a random sample of 1000 students without stratification just to see how it behaves.

In [ ]:
# To create a random sample from a dataframe we use the pandas sample method. You can read more about it here.https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html
# We pass in an argument called frac which symbolises the fraction of the population we want to use as our sample

# Non stratified sample
non_strat_output = data.sample(frac=0.1) 

# check the proportion of the non_stratified sample
print(non_strat_output['gender'].value_counts())

F    587
M    413
Name: gender, dtype: int64

Run the code several times, taking note of the proportion of Female and Male. What do you notice?

When you run it several time, you'll notice that the proportion varies each time. Although it ranges closely to our desired proportion, its not quite the 60-40 proportion we want. To remedy it, this is where stratified sampling comes in handy.

Let's us create a stratified random sample and see how it behaves

In [ ]:

# To create a stratified random sample we'll use pandas groupBy method. Basically what the method does is that it splits our dataset into sets and then applies a function on each subset.
# In our case, we are going to applies a function that puts each subset into a random sample with a size of 100. The beauty about this method is that it strictly maintains the populations proportion.

# Stratified sample
strat_output = data.groupby('gender', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))

# proportion of the non_stratified sample
print(strat_output['gender'].value_counts())

# Check the stratified output
print(strat_output)

F    600
M    400
Name: gender, dtype: int64
     gender         ht
5098      F  58.637239
938       F  56.570113
275       F  57.717873
5476      F  61.726984
865       F  57.610392
...     ...        ...
6754      M  89.242494
7861      M  91.090547
7882      M  87.282743
7337      M  91.503430
6330      M  98.671736

[1000 rows x 2 columns]

## <font color="green">Challenges</font>

In [ ]:
# Challenge 1
# ---
# Question: Moringa school is doing an analysis on how the students perform based on the different programmes that they offer.
# Given a dataset of 10000 students and you are told that 50% are Core students, 25% are Prep students and 25% are Pre-prep students. 
# Also in the dataset, 60% of the students are Female and the rest are Male. 
# You are tasked with creating a stratified random sample that represents that population.
# ---
# Dataset Source = https://drive.google.com/file/d/10THQj3iqund_D5tgypBdeKoc2FZ9pC0S/view?usp=sharing
# ---
# 
# Load the data into a panda dataframe
moringa= pd.read_csv('Moringa_Students_heights.csv')

# Check out the data
moringa

     programme gender         ht
0         Prep      F  57.861539
1         Prep      F  65.550765
2         Core      F  52.142763
3     Pre-prep      F  69.453854
4     Pre-prep      F  54.203258
...        ...    ...        ...
9995      Core      M  90.281974
9996      Core      M  90.728714
9997      Prep      M  82.649354
9998      Prep      M  95.900508
9999      Prep      M  90.160847

[10000 rows x 3 columns]

In [ ]:
data['gender'].value_counts()

F    6000
M    4000
Name: gender, dtype: int64

In [ ]:
 #Non stratified sample
non_strat_output = moringa.sample(frac=0.1) 

# check the proportion of the non_stratified sample
print(non_strat_output['gender'].value_counts())

F    593
M    407
Name: gender, dtype: int64

In [ ]:
 #Stratified sample
strat_output = moringa.groupby('gender', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))

# proportion of the non_stratified sample
print(strat_output['gender'].value_counts())

# Check the stratified output
print(strat_output)

F    600
M    400
Name: gender, dtype: int64
     programme gender         ht
3180      Core      F  57.474138
32        Core      F  58.129062
5144  Pre-prep      F  63.009344
5864  Pre-prep      F  68.343032
4212      Prep      F  64.351148
...        ...    ...        ...
6137  Pre-prep      M  91.813046
7186      Core      M  92.709957
8626      Prep      M  84.408653
6692  Pre-prep      M  86.681757
8333      Prep      M  89.013772

[1000 rows x 3 columns]

In [ ]:
# Challenge 2
# ---
# Question: A wine company would like to perform some analysis on a variety of new red wines. 
# Select a stratified sample based on wine quality from the given dataset.
# ---
# Dataset url = http://bit.ly/RedWinesDataset
# ---
# loading dataset
wines = pd.read_csv('http://bit.ly/RedWinesDataset')
wines

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [ ]:
wines['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [ ]:
# Non stratified sample
non_strat_output = wines.sample(frac=0.1) 

# check the proportion of the non_stratified sample
print(non_strat_output['quality'].value_counts())

5    72
6    57
7    22
4     8
8     1
Name: quality, dtype: int64

In [ ]:
 #Stratified sample
strat_output = wines.groupby('quality', group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))

# proportion of the non_stratified sample
print(strat_output['quality'].value_counts())

# Check the stratified output
print(strat_output)

5    68
6    64
7    20
4     5
8     2
3     1
Name: quality, dtype: int64
      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
459            11.6             0.580         0.66  ...       0.57      9.0        3
1461            6.2             0.785         0.00  ...       0.61     10.0        4
830             7.5             0.685         0.07  ...       0.55     10.9        4
600             8.2             0.915         0.27  ...       0.47     10.0        4
872             7.3             0.350         0.24  ...       0.54     10.0        4
...             ...               ...          ...  ...        ...      ...      ...
1111            5.4             0.420         0.27  ...       0.64     12.3        7
645             7.8             0.640         0.10  ...       0.69     10.1        7
638             7.7             0.915         0.12  ...       0.65     10.2        7
1449            7.2             0.380         0.31  ...       0.76     11.3        8
495            10.7             0.350         0.53  ...       0.65     11.0        8

[160 rows x 12 columns]

In [ ]:
# Challenge 3
# ---
# Question: You have been provided with a list of employees of a certain company with some details about their gender (male/female) 
# and their type of employment (full-time/part-time). The HR team wants to conduct a survey on the working condition 
# that will be representative of the general opinion without interviewing every employee. 
# They request you conduct stratified sampling before any analysis is done. 
# ---
# Dataset url = http://bit.ly/StratifiedEmployeeDataset
# ---
# Hint: Perform EDA first
# ---
#
# Load the data into a panda dataframe
emlpoyment= pd.read_xls('http://bit.ly/StratifiedEmployeeDataset.xlxs')

# Check out the data
employment

NameError: ignored