<a href="https://colab.research.google.com/github/hazrakeruboO/DS-Colabs/blob/main/Copy_of_Python_Programming_Simple_Random_Sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.</font>

# Python Programming:  Simple Random Sampling

## Importing our Libraries

In [ ]:
# importing numpy
import numpy as np

# importing pandas
import pandas as pd

# importing random module
# we will use random.sample() function to return a k length 
# list of unique elements chosen from our population
import random

## 1.0 Selecting More than One item from a List

In [ ]:
# Example 1
# ---
# Selecting more than one item from a list 
# ---
#

list = [20, 40, 80, 100, 120]
print ("Choosing 3 random items from a list using sample function", random.sample(list, k=3))

list = [20, 40, 20, 20, 20]
print ("Choosing 3 random items from a list using sample function",random.sample(list, k=3))

# As you can see we pass k=3 to choose 3 random elements from a list. 
# In return, we got a list of 3 random items.

Choosing 3 random items from a list using sample function [40, 100, 20]
Choosing 3 random items from a list using sample function [20, 20, 20]

### <font color="green"> 1.0 Challenges</font>

In [ ]:
# Challenge 1
# ---
# Question: Create a list containing 10 counties in Kenya 
# then select 2 random counties from the list.
# ---
# 
list = ['Tana River', 'Nairobi', 'Kakamega', 'Kisii', 'Turkana','kilifi','Taita taveta','west Pokot']
print ("Choosing 3 random items from a list using sample function", random.sample(list, k=2))

Choosing 3 random items from a list using sample function ['west Pokot', 'Kakamega']

## 2.0  Selecting the Random Sample from Dictionary

In [ ]:
# Example 1
# ---
# We can select a random key-value pair from the dictionary as shown 
# ---
#
marks_dict = {
  "Kelly": 55,
  "jhon": 70,
  "Donald": 60,
  "Lennin" :50
}

print ("Choosing 2 random items from a dictionary using sample method ", random.sample(marks_dict.items(), k=2))

Choosing 2 random items from a dictionary using sample method  [('Donald', 60), ('Lennin', 50)]

### <font color="green">2.0 Challenges</font>

In [ ]:
# Challenge 1
# ---
# A caterer offers three different food packages; 
# bronze package: starch:rice stew:chicken curry vegetable:cabbages desert:melon
# silver package: starch:rice and chappati  stew:beef curry vegetable:spinach desert:melon and bananas
# gold package: starch:rice, chappati and mukimo stew: beef curry vegetable:spinach and managu desert: tart
# Create a dictionary that stores the above information and select a sample of size 2 
# ---
#
OUR CODE GOES HERE

## 3.0 Selecting a Random Sample with Replacement to including repetition

In [ ]:
# Example 1
# ---
# We can select a random sample with replacement to include repetition as shown below
# ---
# 
names = ["Roger", "Nadal", "Novac", "Andre", "Sarena", "Mariya", "Martina"]

print("random sample with replacement to including repetition ", random.choices(names, k=3))

random sample with replacement to including repetition  ['Andre', 'Nadal', 'Sarena']

### <font color="green">3.0 Challenges</font>

In [ ]:
# Challenge 1
# ---
# Question: Select a random sample of 3 with replacement to include replacement from the 
# following list of months
# ---
#

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
          'August', 'September', 'October', 'November', 'December']

print("random sample with replacement to including repetition ", random.choices(months, k=3))

random sample with replacement to including repetition  ['April', 'October', 'February']

## 4.0 Selecting a Random Sample from a Range of Integers

In [ ]:
# Example 1
# ---
# We can select a random sample from a range of integers as shown below
# ---
# 

weight_set = {40, 50, 55, 65, 75, 80}

print ("Choosing 4 random items from a set ", random.sample(weight_set, k=4))

Choosing 4 random items from a set  [75, 55, 50, 80]

### <font color="green">4.1 Challenges</font>

In [ ]:
# Challenge 1
# ---
# Question: Select a random sample from a range of integers as shown below
# --- 
# 
weight_set = {4, 5, 6, 7, 8, 9, 10}

print ("Choosing 4 random items from a set ", random.sample(weight_set, k=4))

Choosing 4 random items from a set  [10, 6, 9, 7]

## 5.0 Selecting a Sample Array from a Large multidimensional Array

In [ ]:
# Example 1
# ---
# We can select a sample array from a large multidimensional array as shown
# ---
# 

array = np.array([[2 ,4, 6], [5, 10, 15], [6, 12, 18], [7, 14, 21], [8, 16, 24]]) 
print("Printing 2D Array")
print(array)

# selecting multiple random rows from the 2D as shown
print("Selecting multiple random rows from the 2D array")
randomRows = np.random.randint(5, size=2)
for i in randomRows:
  print(array[i,:])

Printing 2D Array
[[ 2  4  6]
 [ 5 10 15]
 [ 6 12 18]
 [ 7 14 21]
 [ 8 16 24]]
Selecting multiple random rows from the 2D array
[2 4 6]
[ 6 12 18]

### <font color="green">5.0 Challenges</font>

In [ ]:
# Challenge 1
# ---
# Question: Select two arrays from the given multidimensional array
# ---
# 

#a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [1 ,2 , 4, 5, 6], [5, 10, 15, 20, 25], [6, 12, 18, 24, 30], [7, 14, 21, 28, 35]]  
a = np.array([[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [1 ,2 , 4, 5, 6], [5, 10, 15, 20, 25], [6, 12, 18, 24, 30], [7, 14, 21, 28, 35]])
print("Printing 2D Array")
print(array)

# selecting multiple random rows from the 2D as shown
print("Selecting multiple random rows from the 2D array")
randomRows = np.random.randint(5, size=2)
for i in randomRows:
  print(a[i,:])

Printing 2D Array
[[ 2  4  6]
 [ 5 10 15]
 [ 6 12 18]
 [ 7 14 21]
 [ 8 16 24]]
Selecting multiple random rows from the 2D array
[1 2 4 5 6]
[ 4  8 12 16 20]

## 6.0 Selecting Random Samples from a Dataset

In [ ]:
# Example 1
# ---
# Selecting a random sample from the following medical appointments dataset
# ---
# Dataset url = http://bit.ly/MedicalAppointmentsDataset
# ---
# 

# Loading the dataset
medical_df = pd.read_csv("http://bit.ly/MedicalAppointmentsDataset")

# Determining the size
print(medical_df.shape)


# Previewing the dataset
print(medical_df.head())

# Selecting the sample 
medical_sample = medical_df.sample(n = 10, replace="False")
print(medical_sample)

(110527, 14)
      PatientId  AppointmentID Gender  ... Handcap SMS_received  No-show
0  2.987250e+13        5642903      F  ...       0            0       No
1  5.589978e+14        5642503      M  ...       0            0       No
2  4.262962e+12        5642549      F  ...       0            0       No
3  8.679512e+11        5642828      F  ...       0            0       No
4  8.841186e+12        5642494      F  ...       0            0       No

[5 rows x 14 columns]
          PatientId  AppointmentID Gender  ... Handcap SMS_received  No-show
86247  8.828875e+11        5771398      M  ...       0            0       No
79913  9.213183e+11        5626056      M  ...       0            0       No
58478  1.311894e+13        5660988      F  ...       0            0       No
52899  6.158177e+10        5650975      F  ...       0            0       No
76791  3.253426e+10        5749282      F  ...       0            0       No
14301  9.175546e+13        5693492      F  ...       0            0       No
32235  8.675945e+12        5675241      M  ...       0            0       No
52974  5.135360e+12        5693564      F  ...       0            0      Yes
8610   1.447997e+13        5647485      M  ...       0            0       No
45110  4.734138e+14        5628936      F  ...       0            0       No

[10 rows x 14 columns]

### <font color="green">6.0 Challenges </font>

In [ ]:
# Challenge 1
# ---
# Select a random sample of 10 from the given dataset below 
# ---
# Dataset url = http://bit.ly/DSRussianInvestigation
# ---
#
# Loading the dataset
Russian_df = pd.read_csv("http://bit.ly/DSRussianInvestigation")

# Determining the size
print(Russian_df.shape)


# Previewing the dataset
print(Russian_df.head())

# Selecting the sample 
Russian_sample = Russian_df.sample(n = 10, replace="False")
print(Russian_sample)

(194, 13)
  investigation investigation-start  ... american      president
0     watergate          1973-05-19  ...     True  Richard Nixon
1     watergate          1973-05-19  ...     True  Richard Nixon
2     watergate          1973-05-19  ...     True  Richard Nixon
3     watergate          1973-05-19  ...     True  Richard Nixon
4     watergate          1973-05-19  ...     True  Richard Nixon

[5 rows x 13 columns]
    investigation investigation-start  ... american         president
68      watergate          1973-05-19  ...     True     Richard Nixon
107        pierce          1990-03-01  ...     True  George H.W. Bush
174        russia          2017-05-17  ...    False      Donald Trump
40      watergate          1973-05-19  ...     True     Richard Nixon
3       watergate          1973-05-19  ...     True     Richard Nixon
20      watergate          1973-05-19  ...     True     Richard Nixon
2       watergate          1973-05-19  ...     True     Richard Nixon
37      watergate          1973-05-19  ...     True     Richard Nixon
100        pierce          1990-03-01  ...     True  George H.W. Bush
189        russia          2017-05-17  ...    False      Donald Trump

[10 rows x 13 columns]

In [ ]:
# Challenge 2
# ---
# A medical company would like to follow up with 50 patients who never showed up for appointments 
# but received an sms. Select a random sample from such patients given the medical dataset below 
# ---
# Dataset url = http://bit.ly/MedicalAppointmentsDataset
# ---
#
Medical_df = pd.read_csv("http://bit.ly/MedicalAppointmentsDataset")

# Determining the size
print(Medical_df.shape)


# Previewing the dataset
#print(Medical_df.head())

# Selecting the sample 
Medical_sample = Medical_df.sample(n = 50, replace="False")
print(Medical_sample)

(110527, 14)
           PatientId  AppointmentID Gender  ... Handcap SMS_received  No-show
23511   9.984929e+13        5715919      F  ...       0            1       No
20565   5.847925e+14        5744201      F  ...       0            0       No
107214  8.629226e+13        5556550      F  ...       0            1       No
22366   2.558214e+14        5680082      M  ...       0            0      Yes
96837   9.389457e+11        5761843      F  ...       0            0       No
19226   9.374558e+12        5702352      F  ...       0            0       No
42396   1.235418e+13        5721118      M  ...       0            1      Yes
49883   1.535455e+13        5601091      F  ...       0            1       No
96037   9.422475e+14        5684104      M  ...       0            0      Yes
85478   5.264513e+14        5751595      M  ...       0            1      Yes
1142    1.899875e+12        5551044      F  ...       0            1       No
39234   2.573677e+14        5691095      M  ...       0            1      Yes
108748  1.776295e+14        5717556      M  ...       0            1       No
37970   3.128748e+14        5723241      F  ...       0            0      Yes
56439   8.723642e+14        5612830      M  ...       0            1       No
80385   3.911367e+14        5681710      M  ...       0            0       No
85821   8.674477e+13        5759264      M  ...       0            0       No
83483   4.932453e+13        5665155      F  ...       0            0       No
102446  9.142819e+13        5768258      F  ...       0            0       No
90869   7.571264e+12        5725663      F  ...       0            1       No
104737  4.158995e+13        5723425      F  ...       0            1       No
104131  4.647279e+11        5649833      F  ...       0            1       No
12372   4.758442e+11        5649942      M  ...       0            0       No
3245    6.465493e+12        5532305      F  ...       0            1      Yes
85504   9.713692e+12        5676243      F  ...       0            1       No
64692   3.848689e+14        5692424      F  ...       0            0       No
75687   2.273173e+10        5666823      F  ...       0            0       No
101499  7.922367e+13        5649763      F  ...       0            1       No
107176  6.273989e+12        5759822      F  ...       0            0       No
10399   2.758663e+12        5693084      M  ...       0            0       No
92793   4.787246e+12        5768101      F  ...       0            0       No
52461   3.128532e+13        5705234      M  ...       0            0       No
94617   7.873575e+13        5691661      M  ...       0            1       No
62893   6.366237e+12        5660663      F  ...       0            0       No
104937  9.193618e+11        5745980      F  ...       0            1      Yes
60015   9.164262e+13        5616663      M  ...       0            0      Yes
1111    5.946269e+12        5638147      M  ...       0            0       No
72835   2.259795e+12        5732756      F  ...       0            0       No
68051   8.759673e+13        5550571      M  ...       1            1       No
38533   3.147372e+13        5654266      M  ...       0            0       No
9398    1.314872e+11        5647390      F  ...       0            1      Yes
45743   2.568974e+14        5710985      F  ...       0            0       No
30461   7.842677e+10        5640699      M  ...       0            1      Yes
66531   6.298573e+13        5697304      F  ...       0            0      Yes
46124   4.216491e+14        5677232      F  ...       0            0       No
54204   1.742833e+12        5745918      M  ...       0            0       No
105325  1.345712e+13        5752155      F  ...       0            0       No
718     9.811492e+13        5642183      F  ...       0            0       No
65728   7.789995e+12        5607654      M  ...       0            1       No
83529   3.218113e+12        5726512      F  ...       0            1      Yes

[50 rows x 14 columns]