<a href="https://colab.research.google.com/github/hazrakeruboO/DS-Colabs/blob/main/Copy_of_Python_Programming_Neural_Networks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##<font color='green'>Python Programming: Neural Networks</font>

### Import Libraries

In [ ]:
# Importing libraries

import pandas as pd
from sklearn.model_selection import train_test_split
# Import a standardization library
from sklearn.preprocessing import StandardScaler
# Import an Multi-Layer Perceptron Classifier model estimator from Scikit-Learn's neural_network library
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import classification_report,confusion_matrix

### Example 1: Wine Classification

In this example we are going to use Neural networks to classifer a wine that has been grown from the sam e region in Italy into three possible cultivars based on various chemical feautures.

**Load Data**

In [ ]:
# Loading data
wine = pd.read_csv('http://bit.ly/wine_classification_data', names =["Cultivator", "Alchol", "Malic_Acid", "Ash", "Alcalinity_of_Ash", "Magnesium", "Total_phenols", "Falvanoids", "Nonflavanoid_phenols", "Proanthocyanins", "Color_intensity", "Hue", "OD280", "Proline"])
wine.head()
# wine.shape

   Cultivator  Alchol  Malic_Acid   Ash  ...  Color_intensity   Hue  OD280  Proline
0           1   14.23        1.71  2.43  ...             5.64  1.04   3.92     1065
1           1   13.20        1.78  2.14  ...             4.38  1.05   3.40     1050
2           1   13.16        2.36  2.67  ...             5.68  1.03   3.17     1185
3           1   14.37        1.95  2.50  ...             7.80  0.86   3.45     1480
4           1   13.24        2.59  2.87  ...             4.32  1.04   2.93      735

[5 rows x 14 columns]

In [ ]:
wine.shape

(178, 14)

In [ ]:
wine['Cultivator'].unique()

array([1, 2, 3])

In [ ]:
wine.dtypes

Cultivator                int64
Alchol                  float64
Malic_Acid              float64
Ash                     float64
Alcalinity_of_Ash       float64
Magnesium                 int64
Total_phenols           float64
Falvanoids              float64
Nonflavanoid_phenols    float64
Proanthocyanins         float64
Color_intensity         float64
Hue                     float64
OD280                   float64
Proline                   int64
dtype: object

In [ ]:
# Setting up our labels and features
X2 =  wine.drop('Cultivator', axis = 1)
y2 = wine["Cultivator"]

**Split Data**

In [ ]:
# Splitting the data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X2, y2, test_size = 0.2, random_state = 10)

**Normalization of data**

Multi-Layer Perceptron class is very sensitve to feature scaling, thus it is always a good habit to sclae our data.

However, feature scaling is only fitted on the training data and not the test data. This is due to the fact that in real world data is not scaled and the major purpose of neural networks is to make predictions on real world data. Hence we try as musch as possible to keep the test data real.

In [ ]:
# Initialize the scaler
scaler = StandardScaler()

# Fitting the scaler
scaler.fit(X_train)

# Applying the transformation to the data
X_train = scaler.transform(X_train)

X_test = scaler.transform(X_test)

**Training the Model**

In [ ]:
# Creating an instance of the model
# The MLPClassifier takes in a number of arguments but we are only going to use one for now which is hidden_layer_sizes. we will explore the rest of the arguments in the next session after we have looked at optimization
# For the hidden_layer_sizes we pass in a tuple that consist the number of neurons we want each layer to have. The nth number of the tuple represents the number of layers you want your network to have.
# For us, we will choose 3 layers with the same number of neurons
# YOu can read more on the MLPClasssifier here: https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html#sklearn.neural_network.MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes = (13, 13,13), max_iter = 500)

# fitting the data
mlp.fit(X_train,y_train)

#By default the activation is set to ReLu function but you can always change it to suit your needs. You can always check the other option available from the documentation

MLPClassifier(hidden_layer_sizes=(13, 13, 13), max_iter=500)

**Prediction and Evaluation**

In [ ]:
# Now that we have our model in place, let's do the prediction

pred = mlp.predict(X_test)


# Evaluating the performance of ur model
print (confusion_matrix(y_test,pred))

print('-----------------------------------------------')

print(classification_report(y_test,pred))

[[10  0  0]
 [ 1 15  2]
 [ 0  0  8]]
-----------------------------------------------
              precision    recall  f1-score   support

           1       0.91      1.00      0.95        10
           2       1.00      0.83      0.91        18
           3       0.80      1.00      0.89         8

    accuracy                           0.92        36
   macro avg       0.90      0.94      0.92        36
weighted avg       0.93      0.92      0.92        36

**Conclusion**

From the results we can see that we have only missclassified two bottles of wine in our test data.

One downside using Multi-Layer Perception model is that it's dificult to interpret the model itself. The weights and biases are not easily interpretable in relatin to which features are important to the model itself.

However, we can be able to extract the weights and biases after training our model.



**PS**: Try using different activation functions and see which one given you the best results

In [ ]:
# Extracting the weights and bias vectors

# Checking the number of weights 
len(mlp.coefs_) 

# Checking the number of biases 
len(mlp.intercepts_)

4

## <font color='green'>Challenge 1</font>

In [ ]:
# Apply neural network technique to the Iris dataset we used in SVM to classify the different classes of flowers. #
#Compare the performance of SVM to that of neural networks and see which is better
#  Dataset Url ----> http://bit.ly/Iris_flower_data

iris=pd.read_csv('http://bit.ly/Iris_flower_data',header=None)
iris.head()

              0            1             2            3            4
0  sepal-length  sepal-width  petal-length  petal-width        Class
1           5.1          3.5           1.4          0.2  Iris-setosa
2           4.9          3.0           1.4          0.2  Iris-setosa
3           4.7          3.2           1.3          0.2  Iris-setosa
4           4.6          3.1           1.5          0.2  Iris-setosa

In [ ]:
X_features = iris.iloc[0:100,[0, 1, 2, 3]].values
y_label = iris.iloc[0:100,4].values
#y = iris.where(y=='Iris-setosa', 0, 1)

In [ ]:
X_features

In [ ]:
# Splitting the data into train and test sets
from sklearn.model_selection import train_test_split
X_features, X_test1, y_label, y_test1 = train_test_split(X_features, y_label, test_size = 0.2, random_state = 10)

In [ ]:
# Initialize the scaler
scaler = StandardScaler()

# Fitting the scaler
scaler.fit(X_features)

# Applying the transformation to the data
X_train = scaler.transform(X_features)

X_test = scaler.transform(X_test1)

# Splitting the data into train and test sets
from sklearn.model_selection import train_test_split
X_features, X_test1, y_label, y_test1 = train_test_split(X_features, y_label, test_size = 0.2, random_state = 10)

In [ ]:
()

## <font color='green'>Challenge 2
</font>

In [ ]:
# Use the following dataset to classsify if a patient has diabetes or not

# Dataset Url -------> http://bit.ly/diabetes_data
diabetes=pd.read_csv('http://bit.ly/diabetes_data')
diabetes.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
diabetes.tail()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [ ]:
diabetes.shape

(768, 9)

In [ ]:
diabetes.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
diabetes.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [ ]:
X_diab =  diabetes.drop('Outcome', axis = 1)
y_diab = diabetes["Outcome"]
# Splitting the data into train and test sets
from sklearn.model_selection import train_test_split
X_diab, X_test2, y_diab, y_test2 = train_test_split(X_diab, y_diab, test_size = 0.2, random_state = 10)
# Initialize the scaler
scaler = StandardScaler()

# Fitting the scaler
scaler.fit(X_diab)

# Applying the transformation to the data
X_train = scaler.transform(X_diab)

X_test = scaler.transform(X_test2)

In [ ]:
# Creating an instance of the model
# The MLPClassifier takes in a number of arguments but we are only going to use one for now which is hidden_layer_sizes. we will explore the rest of the arguments in the next session after we have looked at optimization
# For the hidden_layer_sizes we pass in a tuple that consist the number of neurons we want each layer to have. The nth number of the tuple represents the number of layers you want your network to have.
# For us, we will choose 3 layers with the same number of neurons
# YOu can read more on the MLPClasssifier here: https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html#sklearn.neural_network.MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes = (13, 13,13), max_iter = 500)

# fitting the data
mlp.fit(X_diab,y_diab)

#By default the activation is set to ReLu function but you can always change it to suit your needs.

MLPClassifier(hidden_layer_sizes=(13, 13, 13), max_iter=500)

In [ ]:
# Now that we have our model in place, let's do the prediction

pred = mlp.predict(X_test2)


# Evaluating the performance of ur model
print (confusion_matrix(y_test2,pred))

print('-----------------------------------------------')

print(classification_report(y_test,pred))

[[75 20]
 [33 26]]
-----------------------------------------------
              precision    recall  f1-score   support

           0       0.69      0.79      0.74        95
           1       0.57      0.44      0.50        59

    accuracy                           0.66       154
   macro avg       0.63      0.62      0.62       154
weighted avg       0.64      0.66      0.65       154