<a href="https://colab.research.google.com/github/hazrakeruboO/DS-Colabs/blob/main/Copy_of_Python_Programming_Ridge_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Programming: Ridge Regression

## 1.0 Example

In [ ]:
# Example 
# ---
# Regularization is the process of penalizing coefficients of variables either by removing them and or reducing their impact. 
# Ridge regression reduces the effect of problematic variables close to zero but never fully removes them. 
# ---
# Question: Build a regrssion model to predict expenses based on the variables available.
# ---
# Dataset source: Pydataset Library: VietNamI Dataset
# ---
#

In [ ]:
# Importing our libraries
# 
import numpy as np
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
# installing !pip install pydataset and importing pydataset so as to use a dataset from the package
# 
!pip install pydataset
from pydataset import data

Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9 MB)
     |████████████████████████████████| 15.9 MB 117 kB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pydataset) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pydataset) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pydataset) (1.15.0)
Building wheels for collected packages: pydataset
  Building wheel for pydataset (setup.py) ... done
  Created wheel for pydataset: filename=pydataset-0.2.0-py3-none-any.whl size=15939430 sha256=52d0115c3c8473ea10780a6c06362b1c565ea64982f6ed443a10f5deb0971e2f
  Stored in directory: /root/.cache/pip/wheels/32/26/30/d71562a19eed948eaada9a61b4d722fa358657a3bfb5d151e2
Successfully built pydataset
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0
initiated datasets repo at: /root/.pydataset/

In [ ]:
# Data Preparation
# 

# Loading the data and convert the sex variable to a dummy variable
#
df = pd.DataFrame(data('VietNamI'))
df.loc[df.sex== 'male', 'sex'] = 0
df.loc[df.sex== 'female','sex'] = 1
df['sex'] = df['sex'].astype(int)

# Setting up our X and y datasets
#
X = df[['pharvis','age','sex','married','educ','illness','injury','illdays','actdays','insurance']]
y = df['lnhhexp']

In [ ]:
# Creating our baseline regression model
# This is a model that has no regularization to it
# 
regression = LinearRegression()
regression.fit(X,y)
first_model = (mean_squared_error(y_true=y,y_pred=regression.predict(X)))
print(first_model)

# The output  value of 0.355289 will be our indicator to determine if the regularized ridge regression model is superior or not.

0.35528915032173053

In [ ]:
# In order to create our ridge model we need to first determine the most appropriate value for the l2 regularization. 
# L2 is the name of the hyperparameter that is used in ridge regression. 
# Determining the value of a hyperparameter requires the use of a grid. 
# In the code below, we first create our ridge model and indicate normalization in order to get better estimates. 
# Next we setup the grid that we will use. 
# The search object has several arguments within it. Alpha is hyperparameter we are trying to set. 
# The log space is the range of values we want to test. 
# We want the log of -5 to 2, but we only get 8 values from within that range evenly spread out. 
# Are metric is the mean squared error. Refit set true means to adjust the parameters while modeling 
# and cv is the number of folds to develop for the cross-validation. 
#
ridge = Ridge(normalize=True)
search = GridSearchCV(estimator=ridge,param_grid={'alpha':np.logspace(-5,2,8)},scoring='neg_mean_squared_error',n_jobs=1,refit=True,cv=10)

In [ ]:
# We now use the .fit function to run the model and then use the .best_params_ and
#  .best_scores_ function to determine the models strength. 
# 
search.fit(X,y)
search.best_params_
{'alpha': 0.01}
abs(search.best_score_) 

# The best_params_ tells us what to set alpha too which in this case is 0.01. 
# The best_score_ tells us what the best possible mean squared error is. 
# In this case, the value of 0.38 is worse than what the baseline model was.

In [ ]:
# We can confirm this by fitting our model with the ridge information and finding the mean squared error below
#
ridge = Ridge(normalize=True,alpha=0.01)
ridge.fit(X,y)
second_model = (mean_squared_error(y_true=y,y_pred=ridge.predict(X)))
print(second_model)

In [ ]:
# The 0.35 is lower than the 0.38. This is because the last results are not cross-validated. 
# In addition, these results indicate that there is little difference between the ridge and baseline models. 
# This is confirmed with the coefficients of each model found below.
# 
coef_dict_baseline = {}
for coef, feat in zip(regression.coef_,data("VietNamI").columns):
    coef_dict_baseline[feat] = coef
coef_dict_baseline

# The coefficient values are about the same. This means that the penalization made little difference with this dataset.

## 2.0 Challenges

### <font color="green">Challenge 1</font>

In [ ]:
# Challenge 1 
# ---
# Question: Build an accurate model that can estimate the weight of fish given the following dataset.
# ---
# Dataset url = http://bit.ly/FishDataset
# ---
# 
data=pd.read_csv('http://bit.ly/FishDataset')
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [ ]:
data.tail()

    Species  Weight  Length1  Length2  Length3  Height   Width
154   Smelt    12.2     11.5     12.2     13.4  2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5  2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8  2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2  2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2  2.9322  1.8792

In [ ]:
data['Species'].unique()

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [ ]:
data.shape

(159, 7)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [ ]:
data.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [ ]:
data.duplicated().sum()

0

In [ ]:
data.isnull().sum()

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

In [ ]:
Y=data['Weight'].pop
X=data.copy

In [ ]:
X.drop['']

In [ ]:
Y

<bound method Series.pop of 0       242.0
1       290.0
2       340.0
3       363.0
4       430.0
5       450.0
6       500.0
7       390.0
8       450.0
9       500.0
10      475.0
11      500.0
12      500.0
13      340.0
14      600.0
15      600.0
16      700.0
17      700.0
18      610.0
19      650.0
20      575.0
21      685.0
22      620.0
23      680.0
24      700.0
25      725.0
26      720.0
27      714.0
28      850.0
29     1000.0
30      920.0
31      955.0
32      925.0
33      975.0
34      950.0
35       40.0
36       69.0
37       78.0
38       87.0
39      120.0
40        0.0
41      110.0
42      120.0
43      150.0
44      145.0
45      160.0
46      140.0
47      160.0
48      169.0
49      161.0
50      200.0
51      180.0
52      290.0
53      272.0
54      390.0
55      270.0
56      270.0
57      306.0
58      540.0
59      800.0
60     1000.0
61       55.0
62       60.0
63       90.0
64      120.0
65      150.0
66      140.0
67      170.0
68      145.0
69      200.0
70      273.0
71      300.0
72        5.9
73       32.0
74       40.0
75       51.5
76       70.0
77      100.0
78       78.0
79       80.0
80       85.0
81       85.0
82      110.0
83      115.0
84      125.0
85      130.0
86      120.0
87      120.0
88      130.0
89      135.0
90      110.0
91      130.0
92      150.0
93      145.0
94      150.0
95      170.0
96      225.0
97      145.0
98      188.0
99      180.0
100     197.0
101     218.0
102     300.0
103     260.0
104     265.0
105     250.0
106     250.0
107     300.0
108     320.0
109     514.0
110     556.0
111     840.0
112     685.0
113     700.0
114     700.0
115     690.0
116     900.0
117     650.0
118     820.0
119     850.0
120     900.0
121    1015.0
122     820.0
123    1100.0
124    1000.0
125    1100.0
126    1000.0
127    1000.0
128     200.0
129     300.0
130     300.0
131     300.0
132     430.0
133     345.0
134     456.0
135     510.0
136     540.0
137     500.0
138     567.0
139     770.0
140     950.0
141    1250.0
142    1600.0
143    1550.0
144    1650.0
145       6.7
146       7.5
147       7.0
148       9.7
149       9.8
150       8.7
151      10.0
152       9.9
153       9.8
154      12.2
155      13.4
156      12.2
157      19.7
158      19.9
Name: Weight, dtype: float64>

In [ ]:
X

<bound method NDFrame.copy of        Species  Weight  Length1  Length2  Length3   Height   Width
0        Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1        Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2        Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3        Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4        Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
5        Bream   450.0     26.8     29.7     34.7  13.6024  4.9274
6        Bream   500.0     26.8     29.7     34.5  14.1795  5.2785
7        Bream   390.0     27.6     30.0     35.0  12.6700  4.6900
8        Bream   450.0     27.6     30.0     35.1  14.0049  4.8438
9        Bream   500.0     28.5     30.7     36.2  14.2266  4.9594
10       Bream   475.0     28.4     31.0     36.2  14.2628  5.1042
11       Bream   500.0     28.7     31.0     36.2  14.3714  4.8146
12       Bream   500.0     29.1     31.5     36.4  13.7592  4.3680
13       Bream   340.0     29.5     32.0     37.3  13.9129  5.0728
14       Bream   600.0     29.4     32.0     37.2  14.9544  5.1708
15       Bream   600.0     29.4     32.0     37.2  15.4380  5.5800
16       Bream   700.0     30.4     33.0     38.3  14.8604  5.2854
17       Bream   700.0     30.4     33.0     38.5  14.9380  5.1975
18       Bream   610.0     30.9     33.5     38.6  15.6330  5.1338
19       Bream   650.0     31.0     33.5     38.7  14.4738  5.7276
20       Bream   575.0     31.3     34.0     39.5  15.1285  5.5695
21       Bream   685.0     31.4     34.0     39.2  15.9936  5.3704
22       Bream   620.0     31.5     34.5     39.7  15.5227  5.2801
23       Bream   680.0     31.8     35.0     40.6  15.4686  6.1306
24       Bream   700.0     31.9     35.0     40.5  16.2405  5.5890
25       Bream   725.0     31.8     35.0     40.9  16.3600  6.0532
26       Bream   720.0     32.0     35.0     40.6  16.3618  6.0900
27       Bream   714.0     32.7     36.0     41.5  16.5170  5.8515
28       Bream   850.0     32.8     36.0     41.6  16.8896  6.1984
29       Bream  1000.0     33.5     37.0     42.6  18.9570  6.6030
30       Bream   920.0     35.0     38.5     44.1  18.0369  6.3063
31       Bream   955.0     35.0     38.5     44.0  18.0840  6.2920
32       Bream   925.0     36.2     39.5     45.3  18.7542  6.7497
33       Bream   975.0     37.4     41.0     45.9  18.6354  6.7473
34       Bream   950.0     38.0     41.0     46.5  17.6235  6.3705
35       Roach    40.0     12.9     14.1     16.2   4.1472  2.2680
36       Roach    69.0     16.5     18.2     20.3   5.2983  2.8217
37       Roach    78.0     17.5     18.8     21.2   5.5756  2.9044
38       Roach    87.0     18.2     19.8     22.2   5.6166  3.1746
39       Roach   120.0     18.6     20.0     22.2   6.2160  3.5742
40       Roach     0.0     19.0     20.5     22.8   6.4752  3.3516
41       Roach   110.0     19.1     20.8     23.1   6.1677  3.3957
42       Roach   120.0     19.4     21.0     23.7   6.1146  3.2943
43       Roach   150.0     20.4     22.0     24.7   5.8045  3.7544
44       Roach   145.0     20.5     22.0     24.3   6.6339  3.5478
45       Roach   160.0     20.5     22.5     25.3   7.0334  3.8203
46       Roach   140.0     21.0     22.5     25.0   6.5500  3.3250
47       Roach   160.0     21.1     22.5     25.0   6.4000  3.8000
48       Roach   169.0     22.0     24.0     27.2   7.5344  3.8352
49       Roach   161.0     22.0     23.4     26.7   6.9153  3.6312
50       Roach   200.0     22.1     23.5     26.8   7.3968  4.1272
51       Roach   180.0     23.6     25.2     27.9   7.0866  3.9060
52       Roach   290.0     24.0     26.0     29.2   8.8768  4.4968
53       Roach   272.0     25.0     27.0     30.6   8.5680  4.7736
54       Roach   390.0     29.5     31.7     35.0   9.4850  5.3550
55   Whitefish   270.0     23.6     26.0     28.7   8.3804  4.2476
56   Whitefish   270.0     24.1     26.5     29.3   8.1454  4.2485
57   Whitefish   306.0     25.6     28.0     30.8   8.7780  4.6816
58   Whitefish   540.0     28.5     31.0     34.0  10.7440  6.5620
59   Whitefish   800.0     33.7     36.4     39.6  11.7612  6.5736
60   Whitefish  1000.0     37.3     40.0     43.5  12.3540  6.5250
61      Parkki    55.0     13.5     14.7     16.5   6.8475  2.3265
62      Parkki    60.0     14.3     15.5     17.4   6.5772  2.3142
63      Parkki    90.0     16.3     17.7     19.8   7.4052  2.6730
64      Parkki   120.0     17.5     19.0     21.3   8.3922  2.9181
65      Parkki   150.0     18.4     20.0     22.4   8.8928  3.2928
66      Parkki   140.0     19.0     20.7     23.2   8.5376  3.2944
67      Parkki   170.0     19.0     20.7     23.2   9.3960  3.4104
68      Parkki   145.0     19.8     21.5     24.1   9.7364  3.1571
69      Parkki   200.0     21.2     23.0     25.8  10.3458  3.6636
70      Parkki   273.0     23.0     25.0     28.0  11.0880  4.1440
71      Parkki   300.0     24.0     26.0     29.0  11.3680  4.2340
72       Perch     5.9      7.5      8.4      8.8   2.1120  1.4080
73       Perch    32.0     12.5     13.7     14.7   3.5280  1.9992
74       Perch    40.0     13.8     15.0     16.0   3.8240  2.4320
75       Perch    51.5     15.0     16.2     17.2   4.5924  2.6316
76       Perch    70.0     15.7     17.4     18.5   4.5880  2.9415
77       Perch   100.0     16.2     18.0     19.2   5.2224  3.3216
78       Perch    78.0     16.8     18.7     19.4   5.1992  3.1234
79       Perch    80.0     17.2     19.0     20.2   5.6358  3.0502
80       Perch    85.0     17.8     19.6     20.8   5.1376  3.0368
81       Perch    85.0     18.2     20.0     21.0   5.0820  2.7720
82       Perch   110.0     19.0     21.0     22.5   5.6925  3.5550
83       Perch   115.0     19.0     21.0     22.5   5.9175  3.3075
84       Perch   125.0     19.0     21.0     22.5   5.6925  3.6675
85       Perch   130.0     19.3     21.3     22.8   6.3840  3.5340
86       Perch   120.0     20.0     22.0     23.5   6.1100  3.4075
87       Perch   120.0     20.0     22.0     23.5   5.6400  3.5250
88       Perch   130.0     20.0     22.0     23.5   6.1100  3.5250
89       Perch   135.0     20.0     22.0     23.5   5.8750  3.5250
90       Perch   110.0     20.0     22.0     23.5   5.5225  3.9950
91       Perch   130.0     20.5     22.5     24.0   5.8560  3.6240
92       Perch   150.0     20.5     22.5     24.0   6.7920  3.6240
93       Perch   145.0     20.7     22.7     24.2   5.9532  3.6300
94       Perch   150.0     21.0     23.0     24.5   5.2185  3.6260
95       Perch   170.0     21.5     23.5     25.0   6.2750  3.7250
96       Perch   225.0     22.0     24.0     25.5   7.2930  3.7230
97       Perch   145.0     22.0     24.0     25.5   6.3750  3.8250
98       Perch   188.0     22.6     24.6     26.2   6.7334  4.1658
99       Perch   180.0     23.0     25.0     26.5   6.4395  3.6835
100      Perch   197.0     23.5     25.6     27.0   6.5610  4.2390
101      Perch   218.0     25.0     26.5     28.0   7.1680  4.1440
102      Perch   300.0     25.2     27.3     28.7   8.3230  5.1373
103      Perch   260.0     25.4     27.5     28.9   7.1672  4.3350
104      Perch   265.0     25.4     27.5     28.9   7.0516  4.3350
105      Perch   250.0     25.4     27.5     28.9   7.2828  4.5662
106      Perch   250.0     25.9     28.0     29.4   7.8204  4.2042
107      Perch   300.0     26.9     28.7     30.1   7.5852  4.6354
108      Perch   320.0     27.8     30.0     31.6   7.6156  4.7716
109      Perch   514.0     30.5     32.8     34.0  10.0300  6.0180
110      Perch   556.0     32.0     34.5     36.5  10.2565  6.3875
111      Perch   840.0     32.5     35.0     37.3  11.4884  7.7957
112      Perch   685.0     34.0     36.5     39.0  10.8810  6.8640
113      Perch   700.0     34.0     36.0     38.3  10.6091  6.7408
114      Perch   700.0     34.5     37.0     39.4  10.8350  6.2646
115      Perch   690.0     34.6     37.0     39.3  10.5717  6.3666
116      Perch   900.0     36.5     39.0     41.4  11.1366  7.4934
117      Perch   650.0     36.5     39.0     41.4  11.1366  6.0030
118      Perch   820.0     36.6     39.0     41.3  12.4313  7.3514
119      Perch   850.0     36.9     40.0     42.3  11.9286  7.1064
120      Perch   900.0     37.0     40.0     42.5  11.7300  7.2250
121      Perch  1015.0     37.0     40.0     42.4  12.3808  7.4624
122      Perch   820.0     37.1     40.0     42.5  11.1350  6.6300
123      Perch  1100.0     39.0     42.0     44.6  12.8002  6.8684
124      Perch  1000.0     39.8     43.0     45.2  11.9328  7.2772
125      Perch  1100.0     40.1     43.0     45.5  12.5125  7.4165
126      Perch  1000.0     40.2     43.5     46.0  12.6040  8.1420
127      Perch  1000.0     41.1     44.0     46.6  12.4888  7.5958
128       Pike   200.0     30.0     32.3     34.8   5.5680  3.3756
129       Pike   300.0     31.7     34.0     37.8   5.7078  4.1580
130       Pike   300.0     32.7     35.0     38.8   5.9364  4.3844
131       Pike   300.0     34.8     37.3     39.8   6.2884  4.0198
132       Pike   430.0     35.5     38.0     40.5   7.2900  4.5765
133       Pike   345.0     36.0     38.5     41.0   6.3960  3.9770
134       Pike   456.0     40.0     42.5     45.5   7.2800  4.3225
135       Pike   510.0     40.0     42.5     45.5   6.8250  4.4590
136       Pike   540.0     40.1     43.0     45.8   7.7860  5.1296
137       Pike   500.0     42.0     45.0     48.0   6.9600  4.8960
138       Pike   567.0     43.2     46.0     48.7   7.7920  4.8700
139       Pike   770.0     44.8     48.0     51.2   7.6800  5.3760
140       Pike   950.0     48.3     51.7     55.1   8.9262  6.1712
141       Pike  1250.0     52.0     56.0     59.7  10.6863  6.9849
142       Pike  1600.0     56.0     60.0     64.0   9.6000  6.1440
143       Pike  1550.0     56.0     60.0     64.0   9.6000  6.1440
144       Pike  1650.0     59.0     63.4     68.0  10.8120  7.4800
145      Smelt     6.7      9.3      9.8     10.8   1.7388  1.0476
146      Smelt     7.5     10.0     10.5     11.6   1.9720  1.1600
147      Smelt     7.0     10.1     10.6     11.6   1.7284  1.1484
148      Smelt     9.7     10.4     11.0     12.0   2.1960  1.3800
149      Smelt     9.8     10.7     11.2     12.4   2.0832  1.2772
150      Smelt     8.7     10.8     11.3     12.6   1.9782  1.2852
151      Smelt    10.0     11.3     11.8     13.1   2.2139  1.2838
152      Smelt     9.9     11.3     11.8     13.1   2.2139  1.1659
153      Smelt     9.8     11.4     12.0     13.2   2.2044  1.1484
154      Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155      Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156      Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157      Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158      Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792>

In [ ]:

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

TypeError: ignored

In [ ]:
# i didnot hot encode species,i will get a wrong answer
from sklearn.linear_model import LinearRegression
L=LinearRegression()

In [ ]:
L.fit(X_train,Y_train)

### <font color="green">Challenge 2</font>

In [ ]:
# Challenge 2
# ---
# Question: Build a regression algorithm for predicting unemployment within an economy.
# ---
# Dataset url = http://bit.ly/EconomicDataset
# ---
# Dataset Info
# 1. date. Month of data collection
# 2. psavert, personal savings rate
# 3. pce, personal consumption expenditures, in billions of dollars
# 4. unemploy, number of unemployed in thousands 
# 5. empmed, median duration of unemployment, in week
# 6. pop, total population, in thousands
# ---
# 
employment=pd.read_csv('http://bit.ly/EconomicDataset')
employment.head()

   Unnamed: 0        date    pce     pop  psavert  uempmed  unemploy
0           1  1967-06-30  507.8  198712      9.8      4.5      2944
1           2  1967-07-31  510.9  198911      9.8      4.7      2945
2           3  1967-08-31  516.7  199113      9.0      4.6      2958
3           4  1967-09-30  513.3  199311      9.8      4.9      3143
4           5  1967-10-31  518.5  199498      9.7      4.7      3066

In [ ]:
employment.tail()

     Unnamed: 0        date     pce     pop  psavert  uempmed  unemploy
473         474  2006-11-30  9478.5  301070     -1.1      7.3      6849
474         475  2006-12-31  9540.3  301296     -0.9      8.1      7017
475         476  2007-01-31  9610.6  301481     -1.0      8.1      6865
476         477  2007-02-28  9653.0  301684     -0.7      8.5      6724
477         478  2007-03-31  9705.0  301913     -1.3      8.7      6801

In [ ]:
employment.shape

(478, 7)

In [ ]:
employment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  478 non-null    int64
 1   date        478 non-null    object
 2   pce         478 non-null    float64
 3   pop         478 non-null    int64
 4   psavert     478 non-null    float64
 5   uempmed     478 non-null    float64
 6   unemploy    478 non-null    int64
dtypes: float64(3), int64(3), object(1)
memory usage: 26.3+ KB

In [ ]:
employment.describe()

       Unnamed: 0          pce  ...     uempmed      unemploy
count  478.000000   478.000000  ...  478.000000    478.000000
mean   239.500000  3654.230962  ...    7.124059   6997.177824
std    138.130976  2609.656755  ...    1.640329   1859.035642
min      1.000000   507.800000  ...    4.000000   2685.000000
25%    120.250000  1272.450000  ...    5.800000   6052.500000
50%    239.500000  3082.450000  ...    6.900000   7187.500000
75%    358.750000  5474.150000  ...    8.375000   8250.250000
max    478.000000  9705.000000  ...   12.300000  12051.000000

[8 rows x 6 columns]

In [ ]:
employment.duplicated().sum()

0

In [ ]:
employment.isnull().sum()

Unnamed: 0    0
date          0
pce           0
pop           0
psavert       0
uempmed       0
unemploy      0
dtype: int64

### <font color="green">Challenge 3</font>

In [ ]:
# Challenge 3
# ---
# Question: Build a regression model to predict the life expectancy of a country. 
# Apply ridge regression to your model.
# ---
# Dataset url = http://bit.ly/LifeExpectancyDataset
# ---
# Dataset Info:
# Country: Country
# Year: Year
# Status: Developed or Developing status
# Life expectancy: Life Expectancy in age
# Adult Mortality: Adult Mortality Rates of both sexes (probability of dying between 15 and 60 years per 1000 population)
# infant deaths: Number of Infant Deaths per 1000 population
# Alcohol: Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol)
# percentage expenditure: Expenditure on health as a percentage of Gross Domestic Product per capita(%)
# Hepatitis B: Hepatitis B (HepB) immunization coverage among 1-year-olds (%)
# Measles: Measles: number of reported cases per 1000 population
# BMI: Average Body Mass Index of entire population
# under-five: deaths Number of under-five deaths per 1000 population
# Polio: Polio (Pol3) immunization coverage among 1-year-olds (%)
# Total expenditure: General government expenditure on health as a percentage of total government expenditure (%)
# Diphtheria: Diphtheria tetanus toxoid and pertussis (DTP3) immunization coverage among 1-year-olds (%)
# HIV/AIDS: Deaths per 1 000 live births HIV/AIDS (0-4 years)
# GDP: Gross Domestic Product per capita (in USD)
# Population: Population of the country
# thinness 1-19 years: Prevalence of thinness among children and adolescents for Age 10 to 19 (% )
# thinness 5-9 years: Prevalence of thinness among children for Age 5 to 9(%)
# Income composition of resources: Human Development Index in terms of income composition of resources (index ranging from 0 to 1)
# Schooling: Number of years of Schooling(years)
# ---
# 
OUR CODE GOES HERE

### <font color="green">Challenge 4</font>

In [ ]:
# Challenge 4
# ---
# Question: Given the beauty dataset below, create a regression model to predict wages upon applying ridge regression.
# ---
# Dataset url = http://bit.ly/BeautyDataset
# ---
# 
OUR CODE GOES HERE

### <font color="green">Challenge 5</font>

In [ ]:
# Challenge 5
# ---
# Create a regression model to predict sales prices. 
# Apply regularization techniques.
# ---
# Dataset source = http://bit.ly/HousePricesDataset
# ---
# 
OUR CODE GOES HERE