<a href="https://colab.research.google.com/github/hazrakeruboO/DS-Colabs/blob/main/Copy_of_SQL_Mini_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SQL Mini-Project**

To aid a US presidential candidate, we would like to understand the states where he/she should focus campaign efforts in order to secure a win the upcoming presidential elections.

In each of the 51 states, there is a given number of grand electors to win and the presidential candidate receiving the most local votes wins ALL the Grand Electors in that state.

However,it is impotant to note that the number of grand electors is not exactly proportional to the population.

Therefore, the objective of this study is identify which states we need to prioritize in our campaigns to ensure the we win the most votes and/or which states have the highest grand electors per capita.

---

**Connecting the Database**

In [ ]:
# Loading sql extension
%load_ext sql

# Connecting to sqlite in our memory

%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

**Loading required Python Library**

In [ ]:
import pandas as pd
import numpy as np

**Loading Dataset**

In [ ]:
# Loading and Previewing Grand Electors dataset

with open('GrandElectors_by_state.csv', 'r') as elec:
   GrandElectors = pd.read_csv(elec, index_col=0, encoding='utf-8')

%sql DROP TABLE if EXISTS GrandElectors;
%sql PERSIST GrandElectors;
%sql SELECT * FROM GrandElectors LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55)]

In [ ]:
# Loading Population Dataset
with open('Population_by_state.csv', 'r') as pop:
  Population = pd.read_csv(pop, index_col=0, encoding='utf-8')


%sql DROP TABLE IF EXISTS Population
%sql PERSIST Population
%sql SELECT * FROM Population LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995)]

The first thing we shall do is to join the two datasets using SQL on the common columns state. 

However, note that the name of the state in the population dataset is in all caps. This might cause an issue in the JOIN clause. We need to make sure that both columns are the same before the JOIN clause.

Additionally, we need to the joined table an independent table in order to conduct analysis on it later.

In [ ]:
# Making States values in GrandElectors dataset uppercase to match the population dataset

%%sql
UPDATE GrandElectors SET State=UPPER(State)

 * sqlite://
51 rows affected.

[]

In [ ]:
# Creating new table and joining Datasets 

%%sql
CREATE TABLE US_Elections AS SELECT Population.State, GrandElectors.GrandElectors, Population
FROM Population INNER JOIN GrandElectors
ON Population.State=GrandElectors.State;

 * sqlite://
Done.

[]

In [ ]:
# Preview new table

%%sql
SELECT * FROM US_Elections LIMIT 5;

 * sqlite://
Done.

[('CALIFORNIA', 55, 39144818),
 ('TEXAS', 38, 27469114),
 ('FLORIDA', 29, 20271272),
 ('NEW YORK', 29, 19795791),
 ('ILLINOIS', 20, 12859995)]

We been asked to change the District of Colombia in our new table to 'DC'

In [ ]:
# Updating 'District of Columbia' as 'DC'

%%sql
UPDATE US_Elections
SET State = 'DC'
WHERE State = 'DISTRICT OF COLUMBIA';

 * sqlite://
1 rows affected.

[]

Next, we need to create a new column and update its values to reflect the ratio. The resulting values will define our priority states with the state with the highest ration being the most important state.

In [ ]:
# Creating new column

%%sql
ALTER TABLE US_Elections
ADD Ratio;

 * sqlite://
Done.

[]

In [ ]:
# Updating the values in the new column

%%sql
UPDATE US_Elections
SET "Ratio" = (US_Elections.GrandElectors * 1.0 / US_Elections.Population * 1.0);

 * sqlite://
51 rows affected.

[]

From the table above we have seen that Wyoming, Vermont, DC and Alaska are top of our priority states. We now need to compute the running total from the state with the highest ratio.

In [ ]:
# Calculating the running total and creating a new table with the new columns.

%%sql

CREATE TABLE US_Elections_Updated AS 
  SELECT t.State,
       t.GrandElectors,
       t.Ratio,
       (SELECT SUM(x.GrandElectors)
       FROM US_Elections x
       WHERE t.Ratio <= x.Ratio) AS Running_Total
FROM US_Elections t
ORDER BY t.Ratio DESC;

SELECT * FROM US_Elections_Updated;

 * sqlite://
Done.
Done.

[('WYOMING', 3, 5.118519314732634e-06, 3),
 ('VERMONT', 3, 4.792010759661493e-06, 6),
 ('DC', 3, 4.462771559649405e-06, 9),
 ('ALASKA', 3, 4.0626625065002604e-06, 12),
 ('NORTH DAKOTA', 3, 3.963394092164766e-06, 15),
 ('RHODE ISLAND', 4, 3.7868101615263876e-06, 19),
 ('SOUTH DAKOTA', 3, 3.4945932817609025e-06, 22),
 ('DELAWARE', 3, 3.1714686225466047e-06, 25),
 ('MAINE', 4, 3.009039153617467e-06, 29),
 ('NEW HAMPSHIRE', 4, 3.0061445594795764e-06, 33),
 ('MONTANA', 3, 2.904306020916812e-06, 36),
 ('HAWAII', 4, 2.794070702562093e-06, 40),
 ('WEST VIRGINIA', 5, 2.7113085425740512e-06, 45),
 ('NEBRASKA', 5, 2.636866558730929e-06, 50),
 ('IDAHO', 4, 2.417020659484087e-06, 54),
 ('NEW MEXICO', 5, 2.3979561739937817e-06, 59),
 ('NEVADA', 6, 2.0755177119492743e-06, 65),
 ('KANSAS', 6, 2.0606936088618066e-06, 71),
 ('ARKANSAS', 6, 2.0146370094190997e-06, 77),
 ('MISSISSIPPI', 6, 2.00512442966742e-06, 83),
 ('UTAH', 6, 2.0027243727216926e-06, 89),
 ('CONNECTICUT', 7, 1.949379623858847e-06, 96),
 ('IOWA', 6, 1.9206766928124116e-06, 102),
 ('ALABAMA', 9, 1.8522409749043987e-06, 111),
 ('SOUTH CAROLINA', 9, 1.8381804790951905e-06, 120),
 ('MINNESOTA', 10, 1.8216283389992047e-06, 130),
 ('KENTUCKY', 8, 1.8078720171241637e-06, 138),
 ('OKLAHOMA', 7, 1.7896689061390246e-06, 145),
 ('OREGON', 7, 1.7374137405103083e-06, 152),
 ('WISCONSIN', 10, 1.7327007589402595e-06, 162),
 ('LOUISIANA', 8, 1.712796560019389e-06, 170),
 ('WASHINGTON', 12, 1.673558240035948e-06, 182),
 ('TENNESSEE', 11, 1.6665911650366142e-06, 193),
 ('MARYLAND', 10, 1.6648905059785385e-06, 203),
 ('INDIANA', 11, 1.6617117443743504e-06, 214),
 ('COLORADO', 9, 1.6493865931260165e-06, 223),
 ('MISSOURI', 10, 1.6437441071773757e-06, 233),
 ('MASSACHUSETTS', 11, 1.6189750945702225e-06, 244),
 ('MICHIGAN', 16, 1.6124844999927438e-06, 260),
 ('ARIZONA', 11, 1.610998137832607e-06, 271),
 ('GEORGIA', 16, 1.566345500574653e-06, 287),
 ('NEW JERSEY', 14, 1.562846582160575e-06, 301),
 ('PENNSYLVANIA', 20, 1.562194517743913e-06, 321),
 ('ILLINOIS', 20, 1.5552105580134362e-06, 341),
 ('VIRGINIA', 13, 1.5507587803067473e-06, 354),
 ('OHIO', 18, 1.5499306276883225e-06, 372),
 ('NORTH CAROLINA', 15, 1.4936070630487388e-06, 387),
 ('NEW YORK', 29, 1.4649578791774474e-06, 416),
 ('FLORIDA', 29, 1.4305959685213637e-06, 445),
 ('CALIFORNIA', 55, 1.4050391037710278e-06, 500),
 ('TEXAS', 38, 1.3833718845099992e-06, 538)]

Next, we need to calculate our threshold which is equal to half the total GrandElectors.

In [ ]:
# Calculating the Threshold
%%sql
SELECT SUM("GrandElectors") * 0.5 AS Threshold FROM US_Elections_Updated;

 * sqlite://
Done.

[(269.0,)]

Finally, we need to fiter the data to show use states where the running total is under the threshold and add one state above the threshold.

In [ ]:
%%sql
CREATE TABLE Priority_States AS
SELECT State, GrandElectors, Ratio, Running_Total FROM US_Elections_Updated
  WHERE Running_Total <= 269.0 OR Running_Total = 271;

SELECT * FROM Priority_States;

 * sqlite://
(sqlite3.OperationalError) no such table: US_Elections_Updated
[SQL: CREATE TABLE Priority_States AS
SELECT State, GrandElectors, Ratio, Running_Total FROM US_Elections_Updated
  WHERE Running_Total <= 269.0 OR Running_Total = 271;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
# Ordering the top 10 priority states

%%sql
SELECT * FROM US_Elections 
ORDER BY Ratio DESC;

 * sqlite://
Done.

[('WYOMING', 3, 586107, 5.118519314732634e-06),
 ('VERMONT', 3, 626042, 4.792010759661493e-06),
 ('DC', 3, 672228, 4.462771559649405e-06),
 ('ALASKA', 3, 738432, 4.0626625065002604e-06),
 ('NORTH DAKOTA', 3, 756927, 3.963394092164766e-06),
 ('RHODE ISLAND', 4, 1056298, 3.7868101615263876e-06),
 ('SOUTH DAKOTA', 3, 858469, 3.4945932817609025e-06),
 ('DELAWARE', 3, 945934, 3.1714686225466047e-06),
 ('MAINE', 4, 1329328, 3.009039153617467e-06),
 ('NEW HAMPSHIRE', 4, 1330608, 3.0061445594795764e-06),
 ('MONTANA', 3, 1032949, 2.904306020916812e-06),
 ('HAWAII', 4, 1431603, 2.794070702562093e-06),
 ('WEST VIRGINIA', 5, 1844128, 2.7113085425740512e-06),
 ('NEBRASKA', 5, 1896190, 2.636866558730929e-06),
 ('IDAHO', 4, 1654930, 2.417020659484087e-06),
 ('NEW MEXICO', 5, 2085109, 2.3979561739937817e-06),
 ('NEVADA', 6, 2890845, 2.0755177119492743e-06),
 ('KANSAS', 6, 2911641, 2.0606936088618066e-06),
 ('ARKANSAS', 6, 2978204, 2.0146370094190997e-06),
 ('MISSISSIPPI', 6, 2992333, 2.00512442966742e-06),
 ('UTAH', 6, 2995919, 2.0027243727216926e-06),
 ('CONNECTICUT', 7, 3590886, 1.949379623858847e-06),
 ('IOWA', 6, 3123899, 1.9206766928124116e-06),
 ('ALABAMA', 9, 4858979, 1.8522409749043987e-06),
 ('SOUTH CAROLINA', 9, 4896146, 1.8381804790951905e-06),
 ('MINNESOTA', 10, 5489594, 1.8216283389992047e-06),
 ('KENTUCKY', 8, 4425092, 1.8078720171241637e-06),
 ('OKLAHOMA', 7, 3911338, 1.7896689061390246e-06),
 ('OREGON', 7, 4028977, 1.7374137405103083e-06),
 ('WISCONSIN', 10, 5771337, 1.7327007589402595e-06),
 ('LOUISIANA', 8, 4670724, 1.712796560019389e-06),
 ('WASHINGTON', 12, 7170351, 1.673558240035948e-06),
 ('TENNESSEE', 11, 6600299, 1.6665911650366142e-06),
 ('MARYLAND', 10, 6006401, 1.6648905059785385e-06),
 ('INDIANA', 11, 6619680, 1.6617117443743504e-06),
 ('COLORADO', 9, 5456574, 1.6493865931260165e-06),
 ('MISSOURI', 10, 6083672, 1.6437441071773757e-06),
 ('MASSACHUSETTS', 11, 6794422, 1.6189750945702225e-06),
 ('MICHIGAN', 16, 9922576, 1.6124844999927438e-06),
 ('ARIZONA', 11, 6828065, 1.610998137832607e-06),
 ('GEORGIA', 16, 10214860, 1.566345500574653e-06),
 ('NEW JERSEY', 14, 8958013, 1.562846582160575e-06),
 ('PENNSYLVANIA', 20, 12802503, 1.562194517743913e-06),
 ('ILLINOIS', 20, 12859995, 1.5552105580134362e-06),
 ('VIRGINIA', 13, 8382993, 1.5507587803067473e-06),
 ('OHIO', 18, 11613423, 1.5499306276883225e-06),
 ('NORTH CAROLINA', 15, 10042802, 1.4936070630487388e-06),
 ('NEW YORK', 29, 19795791, 1.4649578791774474e-06),
 ('FLORIDA', 29, 20271272, 1.4305959685213637e-06),
 ('CALIFORNIA', 55, 39144818, 1.4050391037710278e-06),
 ('TEXAS', 38, 27469114, 1.3833718845099992e-06)]

In [ ]:
%%sql
SELECT COUNT(*) FROM Priority_States

 * sqlite://
Done.

[(40,)]

**Conclusions**



1.   The campaign team should focus their efforts on the 40 most influential states in terms of grand electors per capita. 
2.   Winning majority local votes in these states will sway the elections in the candidates favour, giving him/her a good chance at winning the elections