<a href="https://colab.research.google.com/github/hazrakeruboO/DS-Colabs/blob/main/Copy_of_DSPT_R_programming_t_t.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## How to use R in Colab

Go to this URL: https://colab.research.google.com/#create=true&language=r, or this short URL https://colab.to/r

In [ ]:
# To check the R version 
R.version.string

[1] "R version 4.1.2 (2021-11-01)"

In [ ]:
# To check installed packages 
print(installed.packages())

In [ ]:
x <- 5 
y <- 16

In [ ]:
x != y

[1] TRUE

In [ ]:
x > y

[1] FALSE

## List

In [ ]:
# Create a list containing a vector, a matrix and a list.
list_data <- list(c("Jan","Feb","Mar"), matrix(c(3,9,5,1,-2,8), nrow = 2),
   list("green",12.3))

# Give names to the elements in the list.
names(list_data) <- c("1st Quarter", "A_Matrix", "A Inner list")

# Show the list.
print(list_data)

$`1st Quarter`
[1] "Jan" "Feb" "Mar"

$A_Matrix
     [,1] [,2] [,3]
[1,]    3    5   -2
[2,]    9    1    8

$`A Inner list`
$`A Inner list`[[1]]
[1] "green"

$`A Inner list`[[2]]
[1] 12.3

# Vector

In [ ]:
x <- c(1, 5, 4, 9, 0)
typeof(x)

[1] "double"

Example 1: Creating a vector using : operator

In [ ]:
x <- 1:7; x

y <- 2:-2; y

[1] 1 2 3 4 5 6 7

[1]  2  1  0 -1 -2

Example 2: Creating a vector using seq() function

In [ ]:
seq(1, 3, by=0.4)          # specify step size

seq(1, 7, length.out=3)

[1] 1.0 1.4 1.8 2.2 2.6 3.0

[1] 1 4 7

Using integer vector as index

In [ ]:
y[2] # the the 4th index on y is -1

[1] 1

Using logical vector as index

In [ ]:
y <- 2:-2; y
y[c(TRUE, FALSE, TRUE, TRUE)]

[1]  2  1  0 -1 -2

[1]  2  0 -1 -2

# Matrices

In [ ]:
# R program to create a matrix

A = matrix(
	
# Taking sequence of elements
c(1, 2, 3, 4, 5, 6, 7, 8, 9),

# No of rows
nrow = 3,

# No of columns
ncol = 3,		

# By default matrices are in column-wise order
# So this parameter decides how to arrange the matrix
byrow = TRUE		
)

# Naming rows
rownames(A) = c("a", "b", "c")

# Naming columns
colnames(A) = c("c", "d", "e")

cat("The 3x3 matrix:\n")
print(A)

The 3x3 matrix:
  c d e
a 1 2 3
b 4 5 6
c 7 8 9

# Factors, Data Frames, Data Tables and Tibbles

# Factors

In [ ]:
# Creating factor from a vector
data <- c("East","West","East","North","North","East","West","West","West","East","North")

# Now, check whether this is a factor
is.factor(data)

[1] FALSE

In [ ]:
factor(data)

 [1] East  West  East  North North East  West  West  West  East  North
Levels: East North West

In [ ]:
sex <- factor(c("male", "female", "female", "male","Other"))

In [ ]:
sex[3]

[1] female
Levels: female male

In [ ]:
#check the number of levels
nlevels(sex)

[1] 3

In [ ]:
#

# Data Frames



A data frame is used for storing data tables. Unlike a matrix in data frame each column can contain different modes of data.

In [ ]:
# Creating a Dataframe 
BMI <- data.frame( 
    gender  = c("Male", "Male","Female"), 
    height  = c(152, 171.5, 165), 
    weight  = c(81,93, 78), 
    Age     = c(42,38,26)
) 
BMI

  gender height weight Age
1 Male   152.0  81     42
2 Male   171.5  93     38
3 Female 165.0  78     26

In [ ]:
# Selecting specific elements from the dataframe
BMI[2:1]

  height gender
1 152.0  Male
2 171.5  Male
3 165.0  Female

In [ ]:
BMI[1,]

  gender height weight Age
1 Male   152    81     42

In [ ]:
sorted_by_gender <- BMI[order(BMI$gender),]
sorted_by_gender

  gender height weight Age
3 Female 165.0  78     26
1 Male   152.0  81     42
2 Male   171.5  93     38

# Data Tables

In [ ]:
library(data.table)

In [ ]:
DT = data.table(
  ID = c("b","b","b","a","a","c"),
  a = 1:6,
  b = 7:12,
  c = 13:18
)
DT

  ID a b  c
1 b  1  7 13
2 b  2  8 14
3 b  3  9 15
4 a  4 10 16
5 a  5 11 17
6 c  6 12 18